[2016-08-29 11:14] Blaisorblade commented on #278
Ideally, that would avoid the input boxes staying on top of the "Recent App" view:
https://www.dropbox.com/s/5io7x0o3n77et4x/2016-08-29%2011.13.22.png?dl=0

[2016-08-29 11:34] #203 closed

[2016-08-29 11:34] #234 closed

[2016-08-29 11:37] nahojjjen commented on #278
I thought the pokefly class was supposed to represent all "flying" ui elements, so the button, and the info dialogue.

Are you suggesting that Pokefly should only be the IV button, and that we should split up the info dialogue into two separate classes?

[2016-08-29 11:52] Blaisorblade opened #280 "New result layout is slower on many possibilities"
Now we add widgets for each entry in the table. That's too slow with many possibilities, and slower than before. But note: computing them is totally fine, it's just displaying them that's the problem. Should we truncate that display after 100 possibilities or so?

[2016-08-29 11:53] Blaisorblade commented on #280
Note: many possibilities is, for instance, CP 13 HP 10 (which now is enabled again and better stay that way).

[2016-08-29 12:26] Blaisorblade commented on #278
But concretely, that class is also a Service. I confess I don't fully understand the distinction—I only get that "background work in an activity will get killed".

I understand yes.

[2016-08-29 12:29] harkin commented on #254
That sounds like 'flakey and unreliable' to me.

I can set up the testing stuff. For simplicity I'll probably use [RoboElectric](http://robolectric.org/) which shadows the Android components so you can write tests for the JDK that still use Android components. No dice for things like UI testing though.

[2016-08-29 12:30] oskomonzon commented on #280
I just took a look at the implementation there. It's indeed heavy load to add new widgets for each result and too resource heavy for some devices. I think the right way to do it would be to implement a RecyclerView with the proper Adapters.
That widget in particular is ideal for this use case: It's similar to a ListView but as his name implies it "recycles" his childs as they go out of the screen,

[2016-08-29 12:31] Blaisorblade commented on #254
@harkin There's lots of logic that doesn't even use Android. If we can test that I'm happy. We can also try to separate business logic from the UI to allow testing more of it—that's a good idea anyway, isn't it?

[2016-08-29 12:32] Blaisorblade commented on #280
Excellent point, I keep forgetting about that pattern. Can I assign this to you?

[2016-08-29 12:34] harkin commented on #254
For sure. Lets start simple and see if we need to mock android components often

[2016-08-29 12:53] Blaisorblade commented on #30
Closing in favor of #268, which elaborates on the issue.

[2016-08-29 12:53] #30 closed

[2016-08-29 12:55] Blaisorblade commented on #241
#266 is relevant; we should still ensure we react to settings changes though.

[2016-08-29 13:24] #222 closed

[2016-08-29 13:38] oskomonzon commented on #280
Sure, I'll give it a look as soon as I have a moment :+1:

[2016-08-29 13:52] harkin commented on #278
You don't want activities at all. Launching an activity will trigger some lifecycle events for Pokemon Go and we don't know what they do.

It's a good idea to take the UI code out of `Pokefly`. The best way IMO is to make some objects that manage the logical separations between UI screens. A `ScanResultManager`, a `ScanCheckManager` or what have you.

It's not as clean as having an activity but on

[2016-08-29 13:56] Blaisorblade opened #284 "`scanPokemon` might hang the application"
This is a regression introduced (I think) in https://github.com/farkam135/GoIV/commit/9ac1355ba784d1b85700d110edfd775c8421c377 from #262.

@sarav's #248 changed the code, but we have still Pokefly sending an intent to itself, and flags not getting changed if that doesn't happen.

I'm not 100% sure there's a bug, but if there is no bug it's by luck, not by design. And luck isn't reliable. We should

[2016-08-29 15:31] sarav commented on #180
Thanks @agrajaghh. The data is all over the place! I hope it's real savings. Oh well.

[2016-08-29 15:43] sarav commented on #278
@nahojjjen I finally understand why it's called Pokefly :) But, "yes" to your question above. That's what I'm saying. Mainly because you raised a valid concern earlier that Pokefly already has too much code. And clearly UI is most of it. Also, if we have activities, we could "pause" (really cancel and restart) the timer as part of the Activity create/destroy. That seems cleaner and nice than all t

[2016-08-29 15:45] sarav commented on #284
Agree with letting the app crash for stuff that shouldn't be happening if the code is right. Only expected nulls should be checked against (say, if OCR scan can return a null if it couldn't find a string, etc).

[2016-08-29 16:13] sarav commented on #239
Can we fix this before next release please? Maybe  add to milestone?

[2016-08-29 16:15] harkin commented on #278
It'll hit `onPause()` for sure. My concern here is that we don't know what Pokemon Go does. Maybe it flushes some things to the server because it thinks the app is being closed? And if that happens many times in rapid succession (say you're IV checking 20 pokemon) that usage pattern might seem abnormal on their servers and trigger a soft ban. That's just something off the top of my head; the uncer

[2016-08-29 16:57] sarav commented on #278
Eh... Any number of  apps could keep coming in and pausing pogo. Would be extremely stupid on their end to ban for that.

Anyway, activity or no activity, I think the layout code and the event handling need to go into separate classes.

[2016-08-29 16:58] sarav commented on #278
For example, taking screenshots might pause the app due to all the screenshot animations and it's a perfectly valid thing to do often on Pogo screens.

[2016-08-29 17:17] Blaisorblade commented on #268
@Paxtez yes but this issue has a better description.

Personally, I'd like we'd need keys to:
- start Pokefly
- stop Pokefly
- I'd love increase trainer level by 1 (every other change can be done via the GUI, that's the only one that is a bit annoying)
- something to close the app when Pokefly is stopped and the notification is dismissed.

Technically, notification actions require intents mostly,

[2016-08-29 17:48] rhari991 commented on #268
I'd like to work on this if nobody is currently doing so.

[2016-08-29 17:57] Blaisorblade commented on #268
Didn't really start—assigning to @rhari991.

BTW: the one thing I did figure is that we might need to switch from Notification to [NotificationCompat](https://developer.android.com/reference/android/support/v4/app/NotificationCompat.Builder.html#addAction(android.support.v4.app.NotificationCompat.Action)) if we need APIs like [addAction(Action)](https://developer.android.com/reference/android/app/

[2016-08-29 18:01] rhari991 commented on #268
Thanks, will add that in.

[2016-08-29 18:20] DJCrapsody commented on #276
will be closed when https://github.com/farkam135/GoIV/pull/279 is merged

[2016-08-29 19:02] #276 closed

[2016-08-29 19:05] #227 closed

[2016-08-29 19:33] nahojjjen opened #293 "Evolution and powerup info arrow is not animated"
This is something that DJCrapsody will hopefully fix, I'm making an issue so it's not forgotten.

[2016-08-29 20:27] nahojjjen commented on #239
Solution attempt in #294

[2016-08-29 20:36] nahojjjen commented on #278
I'd like to point out that the input and result window are the same window, so separating them in their current state would be difficult.

[2016-08-29 20:52] Eccenux commented on #268
You can do that from recent apps. Closing GoIV from there is stopping the service and ends GoIV.

[2016-08-29 21:17] Blaisorblade commented on #278
Right—there are two orthogonal steps:
- turn each window(s) in Pokefly into a separate activity, which is the main point discussed in this issue.

FWIW: I'm no Android dev, but I'm still not sure what's wrong with having UI code in Pokefly. I'm happy to see (next to) whatever Android doc you throw at me on this point.

- separate those two windows. This issues assumes two windows (maybe @sarav mis

[2016-08-29 21:22] Blaisorblade commented on #268
Thanks, till now I've always stopped the app first before going to recent apps.

Still that reminds me: why do tens of users on Reddit say they need to reboot their phone and Pokemon Go and X and Y and Z when the IV's button gets stuck? Did they all miss this? A few times I told them to close the app from recent, but it didn't work for them.

(Then again, it's not clear the notification action wou

[2016-08-29 21:25] nahojjjen commented on #130
I have started working on some sort of solution for this in https://github.com/farkam135/GoIV/tree/pokemonDropdownSelector

But I dont think I'll add the "search for other pokemon" as a list item in the original spinner, as that'd be too much work for me right now.

[2016-08-29 21:31] #254 closed

[2016-08-30 02:30] rpgrca opened #295 "Don't associate pokemon name with custom name on cancel"
1. Rename a Rattata as Raticar.
2. Open GoIV, pokemon name is recognized as "Raticate" in red.
3. Cancel.
4. Reopen GoIV, pokemon name recognized as "Raticate" in green.

Pressing Cancel should prevent GoIV from associating Raticar with Raticate. One should assume the pokemon name has been correctly guessed only if the user presses "Check IV" instead.

[2016-08-30 02:49] rpgrca commented on #273
Just checked the latest code, somehow the number picker begins in level 1 with 1 highlighted (which gives the impression it can be edited. Also, the control makes (in my case) the screen larger, so you can't get to see the links nor the version of the program, you need to scroll the page (which isn't obvious since there's no scrollbar).

![2016-08-30 02 44 31](https://cloud.githubusercontent.com/a

[2016-08-30 02:54] Blaisorblade opened #296 "Pay back technical debt for 3.2.0 (EDIT: 3.3.0)"
Development is going pretty fast and some regressions keep coming back.

We discussed this in chat and I suspect we should have a 3.1 release soon with critical features and possibly plan a maintenance branch for any regressions there, and focus 3.2 on
- modularizing (proposed by e.g. @Blaisorblade). EDIT see also #278 to split Pokefly.
- adding tests (proposed by e.g. @Blaisorblade)
- any other c

[2016-08-30 02:58] Nizzem opened #297 "Can't scan CP on 2000 CP Vaporeon"
Tried to scan this Vaporeon on my Oneplus One phone, trainer level 25. CP always showed as 10. I was able to scan CP on the previous level and the level after this.

![screenshot_20160829-222325](https://cloud.githubusercontent.com/assets/20824577/18074610/e1b45a46-6e3b-11e6-9b92-a776a42679a5.png)

[2016-08-30 03:00] sarav commented on #278
First para from Android docs (emphasis added by me):

Also, the way the interface for Service is written, it's clear to me that it wasn't intended to interact with the user.

As for splitting input and results, I didn't look closely, but I had guessed they were the same window. I was still suggesting they be split up. The reason I think splitting would help are:
* Independent user activities (veri

[2016-08-30 03:01] Blaisorblade commented on #273
I think that's correct—just tap on the number. That's also the standard behavior of this NumberPicker control. (https://developer.android.com/reference/android/widget/NumberPicker.html).

It's even worse here :-|, I hadn't realized a number picker works like that. Maybe we should reuse horizontal seekbars with +/- like elsewhere, but we'd also need a text field.

But the version could go elsewhere

[2016-08-30 03:05] sarav commented on #296
I'm not sure we need a separate maintenance branch. Just pause PR till a set of listed technical debt is paid off. I don't expect it'll take way too long. I think letting in bug fixes in that time might be ok. Not a strong opinion, just how I would do it.

Btw, I won't be contributing much for about a week. So, I feel like I'm ducking when I should be helping. Sorry about that.

[2016-08-30 03:08] rpgrca commented on #280
Header should be "Defense" instead of "Defence", by the way.

[2016-08-30 03:12] Blaisorblade commented on #278
Makes sense.

The non-GUI code can  be split more easily, but in `Pokefly` that means only the `getPossiblePokemon` and `copyAsset*` methods.

A few GUI methods could be split out, but lots interact with the actual controls of the GUI so it'd be tricky.

[2016-08-30 03:14] Blaisorblade commented on #280
That's American vs British English, but @DJCrapsody (who speaks British) agreed we can stick to American.

[2016-08-30 03:19] Blaisorblade opened #298 "Release 3.0.2 with bugfixes?"
Possible fixes to backport:
- #269
- #243
- Maybe #236 or is that too big?

[2016-08-30 03:20] Blaisorblade commented on #296
FWIW I totally expect 3.2 to take at least a week, and the past suggests we might have regressions with 3.1.0. Especially if people rush to get features in because afterwards they can't.

[2016-08-30 03:22] rpgrca commented on #280
I don't really mind, we study British American down here, but both the Appraisal narrowing and the result list header should be the same.

[2016-08-30 03:28] sarav commented on #278
Basically after pokemon is done, the job of Pokefly is done. Pokefly still has all the timer and screen scanning code. We'll need to pull in screenshot/battery saver code in. Don't worry about Pokefly getting too small :) We have a lot more to add in. And considering it's always running in the background, it's probably better to keep it small (using classes instead of Activities for the UI means w

[2016-08-30 03:33] Blaisorblade commented on #278
Do you mean after you press IV? That makes sense.

[2016-08-30 03:34] oskomonzon commented on #280
I'm issuing a PR with the reworked implementation. Attached the same strings to allow localization and avoid inconsistencies.

[2016-08-30 03:59] sarav opened #300 "Make non-battery saver mode more efficient"
I've been searching online the past few days for ways to detect any touch on the screen (without caring/getting the info where exactly the touch was -- I'm sure this won't be possible due to security concerns) and there are various suggestions. I'm not which of them necessarily work. If anyone here knows the answer to this already or wants to write some test app to see if this can be done, it'll b

[2016-08-30 04:10] DJCrapsody commented on #280
Defense instead of Defence is good. Apparently Defense is American English but Defence is other English including British English. I'll run through the strings and make sure its in American English.

[2016-08-30 04:14] DJCrapsody commented on #273
We can use dropdown for worse case scenario.

[2016-08-30 04:26] rhari991 commented on #296
The refefactoring would definitely be helpful, as the MainActivity and PokeFly classes are pretty big now.

[2016-08-30 07:04] farkam135 commented on #300
Ah interesting, What if the pokefly service displayed a full screen transparent overlay. If we put an onclick on it, shouldnt that act as a way to detect screen touches?

[2016-08-30 08:20] sarav commented on #300
AFAIK, I don't think you can let the touch go thru. But I could be wrong.

[2016-08-30 08:25] sarav commented on #300
I mean, AFAIK, you can't detect the touch and let it go thru. It might be either or (feels like a security issue otherwise). But maybe accessibility permissions does?

[2016-08-30 08:45] nahojjjen commented on #298
If we release a 3.0.2 I think we need to include a fix for the IV-button not doing anything, and that you cant stop-start to fix it, a lot of people seem to be affected.

[2016-08-30 11:29] rpgrca opened #301 "Apparently Pokemon for L38 cap at L39"
L38 player [mentioned](https://pokemongo.gamepress.gg/pokemon/127#comment-2808867626) pokemon [cap](http://imgur.com/a/mbX92) at L39 once he reached it (instead of L39.5). Something to keep in mind, looking for more information about this.

[2016-08-30 11:44] Blaisorblade commented on #298
That has a high impact, but most of it is in @sarav's big PR and backporting that to 3.0.1 wouldn't make for a stable release. If we want that, we could instead release 3.1.0 ASAP and delegate the new features we want to 3.1.1.

[2016-08-30 12:26] leppie commented on #298
Yes, please, the S7 issue is driving me nuts!

[2016-08-30 12:50] Blaisorblade commented on #301
That's... interesting. Levels beyond that *do* exist (https://pokemongo.gamepress.gg/power-up-costs), I guess they're just not reachable for a L38 player. Can you ask on one of the general PG subreddits (say, TheSilphRoad) where people with a clue hang out? Ideally we'd want to know what happens at levels 39 and 40—maybe you'll need to ask on PokemonGoDev since botters (who'd know right?) hang out

[2016-08-30 12:57] Blaisorblade commented on #298
@leppie You talk about the IV button or sth. else? Didn't know it was worse on S7.

[2016-08-30 12:58] leppie commented on #298
@Blaisorblade The IV button issue. Could not see any errors in logcat. Will try build from source tonight or tomorrow to check.

[2016-08-30 13:10] Blaisorblade commented on #298
There won't be anything on logcat, but if you use the online version we get the stack traces, and we think the version on master should fix it—but testing would be good.

BTW we're discussing (in #281) whether to have the errors also on logcat for release builds—I've argued users like you would like that, but you're the first to show up. A debug build will already show errors on logcat.

[2016-08-30 13:20] Blaisorblade commented on #301
Assigning to 3.1.0, but this shouldn't hold up the release if we don't figure out the right formula in time.

[2016-08-30 13:22] Blaisorblade commented on #301
BTW can GoIV even tell the difference between those levels? I won't be surprised if the dot is too big.

[2016-08-30 13:55] leppie commented on #298
Errors should always show in logcat at least. I understand not wanting to annoy a user with needless dialogs, but a toast would be unintrusive.

[2016-08-30 14:34] oskomonzon commented on #296
I agree, we should freeze features for a while and take care of the technical debt.

[2016-08-30 15:12] #280 closed

[2016-08-30 15:13] nahojjjen opened #305 "zebra striping in all iv combinations fail if item goes off screen and back"
![image](https://cloud.githubusercontent.com/assets/8545451/18094823/11da8a12-6ed5-11e6-9090-ae1a8867e392.png)

[2016-08-30 15:22] Blaisorblade commented on #298
The app used to crash in those cases—I fixed the crash but now it gets stuck instead. That wasn't really planned, but since many users now cleanse their phone with fire to restart GoIV maybe crashing is better. (I don't believe it can be necessary to restart the phone to fix this, but maybe killing GoIV is harder than I think).

[2016-08-30 15:40] hlplulustg commented on #301
@Blaisorblade Those screens would have no impact on trainer level cap, but pokemon max level. The powerup option is not removed from the detail screen if the trainer level is too low for leveling the pokemon (it is greyed out or gives an error, i dont remember). The cost formula stays correct.

[2016-08-30 15:44] leppie commented on #298
Everything was working fine for me till I today. Even on the latest version. Maybe a caching issue? I did reboot my phone today (which I never do), not sure if that was a factor.

Anyways, if I get time, I will grab code and build tomorrow.

[2016-08-30 15:56] Blaisorblade commented on #298
Meanwhile I'm closing this issue since we won't do a 3.0.2.
But @leppie let us know either way. If you see the problem on master please open a new issue.

[2016-08-30 15:56] sarav commented on #298
The "Stop" and "Start" should work much better than before. I clear out and reinitialize a lot more stuff than it used to do before. The code is still not where I want it to be, but I hope it's more usable now.

[2016-08-30 15:57] #298 closed

[2016-08-30 15:58] leppie commented on #298
@sarav is that on master, or for 3.0.1? I am on the latter, and does not work for me. From Reddit, it appears to be very S7 specific.

[2016-08-30 16:01] sarav commented on #298
Master.

[2016-08-30 16:05] Blaisorblade commented on #301
Sure sure. Sorry if I was ambiguous. But the formula for the arc position does use the pokemon max level, so it'd have to change—this change would imply at that trainer level the arc has one less possible position, hence all the positions should shift rightward.

Yep, it gives an error that we've seen elsewhere. Maybe the button disappearing is a bug, because they max is trainerLevel  + 1 rather t

[2016-08-30 16:15] sarav commented on #284
One unintended way to reproduce this issue (this doesn't happen when you use it with the game as intended):

* Start GoIV in normal mode, but don't start the game
* Find some old screenshot of the game you took on you phone (not someone else's)
* Open it in some fullscreen picture viewer
* GoIV will think it's the game screen and the IV button will show up
* Click it -- it might hang and not do an

[2016-08-30 16:24] sarav commented on #305
Feature, not a bug /s

P.S: I think we should make it zebra striped by default? Looks nicer to read.

[2016-08-30 16:27] sarav commented on #296
Couple of things I'd like to see (in no particular order) happen as part of the debt repayment:

- [ ] Move pokedex and pokemap into Pokemon (sure, rename it PokemonSpecies if you really want to)
- [ ] Remove all null checks that we think shouldn't happen and let it crash.
- [ ] Have a MAX 1 global variable to denote the dialog boxes are up and the IV button shouldn't show up. Ideally no global va

[2016-08-30 16:32] sarav commented on #295
I know why this happens and where the code changes should move to. I just don't know where that code actually is on the files.

The code where I store the usercorrections needs to be moved into the "on Click" event of the spinner or whatever event fires when the user actually clicks it. I don't know how to use Butterknife or even find the spinner in some layout to add an onWhatever event to it.

B

[2016-08-30 16:33] sarav commented on #278
#295 would have been super easy to fix for me if the UI code for each dialog was in separate activities.

[2016-08-30 16:36] sarav commented on #252
@Eccenux I see what you mean, but people generally use IV to decide how many individual of a species to keep/transfer. I think that's why we haven't seen people complain.

So, they don't often say "should I keep the Golduck or Vaporeon?" when both have water gun and Hydro pump.

I feel like movesets matter a lot more in that situation and people generally know a Vaporeon is better due to better HP

[2016-08-30 16:40] sarav commented on #184
Whatever happened to this? Click the link gives me 404 error.

[2016-08-30 17:41] nahojjjen commented on #184
I have added the evolution candy cost information for each pokemon, so the required data is there. I havent been involved with the code that weights what information is available and spits out a pokemon name, and I had other things to do, so I dropped it for the time being.

What needs to be done is:
The candy number needs to be OCR-d
The OCR'd info needs to be included in the pokemon-picking algo

[2016-08-30 17:45] nahojjjen commented on #305
I merged it in, even if it's a little buggy, because even with this bug it's still superior to the old implementation.

[2016-08-30 18:29] Blaisorblade commented on #296
Since we agreed on the release plan, renaming.

[2016-08-30 18:31] Blaisorblade commented on #184
Anybody else plans to work on this for 3.1? Scheduling for 3.3 for now, as it's not a bugfix.

[2016-08-30 18:38] oskomonzon commented on #305
@sarav's got my back! I owe you, man.

Seriously, tho. No clue what could be the issue there, the code is pretty straightforward. I'll give it a look once I'm back home, but I'm open to suggestions.

[2016-08-30 19:10] #305 closed

[2016-08-30 19:24] #284 closed

[2016-08-30 19:38] Blaisorblade commented on #284
You're right about navigation, but that should produce a failed scan not a crash. Evidence: I looked at the screenshot from takeScreenshot in the debugger. Also, some users might have tried this. Finally, we should ensure snapshot mode accounts for this. And in fact, it seems GoIV mostly manages to scan the info... I'm confused.

The crash still seems about `infoShownSent` stuck to `true`, as alwa

[2016-08-30 19:43] rpgrca commented on #300
You mean, something similar to the AMOLED pixel off applications in the Play Store, which display an overlay on top of the screen? I'm guessing it detects clicks and passes them through, but my experience while playing Ingress wasn't that good, the game became clunky since some long pressed were cut, some slides were not detected, etc.

[2016-08-30 19:46] crd commented on #261
I clearly hadn't thought through the ramifications. Thanks guys. I agree with the decision to close this.

[2016-08-30 19:48] sarav commented on #305
Why did you close it? Not reproducible on your device too?

Osko, not sure how I got your back or why you own me anything, but I'll take it ;)

[2016-08-30 19:56] sarav commented on #300
I don't think the pixel off or filter applications process any touch. Apparently views can mark themselves as not focusable and won't get any events.

I don't think lag should be an issue if implemented correctly.

[2016-08-30 20:04] Blaisorblade commented on #305
@sarav He pushed a fix ;-)

[2016-08-30 20:13] sarav commented on #305
Duh! Thanks. Checking at work during a break and didn't notice the commit.

[2016-08-30 20:47] oskomonzon commented on #273
Or we can adjust/customize the control.

[2016-08-30 20:54] imapokemon4 opened #309 "Trainer level doesn't always update properly"
Steps to reproduce:

1. Install [vysor.io](http://vysor.io/) (I'm not sure if this is necessary, but it's what I use while testing my device)
2. Change to a release build variant in android studio
3. Run app from android studio
4. Force stop GoIV
5. Clear all GoIV data
6. Run GoIV
7. Use vysor to type <insert your level here> into trainer level
8. Click start
9. Try to check IVs for a pokemon and

[2016-08-30 21:50] Blaisorblade commented on #273
This something we can do for 3.1.0?

[2016-08-30 22:02] Eccenux commented on #252
Yes, I do that too (transfer pokemons with worse IV then others). That is good for evolutions, but if I would know absolute percentage I might focus on attacks rather then trying to find perfect IV. Also you might want to keep e.g. Flareon with high stamina, even if attack is low in IV (Flareon has high base attack and very low base stamina/HP).

[2016-08-30 22:08] sarav commented on #252
But can't you do the same with just looking at how it's presented today? You still seem to be only comparing with a Pokemon type.

Your request makes sense to me if we have some Pokemon independent value to compare against. Then you can say "Oh, this flareon is overall better than this rapidash, let me keep the Flareon instead" or something like that. Comparing it to the base stat of the Pokemon d

[2016-08-30 22:21] sarav commented on #309
I have no clue what this use case is, but yes, if you change the trainer level, you have to stop and start the service. This is the expected behavior for the current code.

We could change it though. But it's a bit of work.

[2016-08-30 22:29] Eccenux commented on #252
No. I don't know how big are Flareon base stats - is it 100? 200? 300? By looking at IV alone I don't know if that 15 points will give me significant advantage.

To put it in a different context - let's say someone gives you $5. If you only have $50, then that's great. If you already have $300, then... meh, but thanks ;-).

[2016-08-30 22:32] imapokemon4 commented on #309
That's not the problem

[2016-08-30 22:32] imapokemon4 commented on #309
I type 22 and click start

[2016-08-30 22:32] imapokemon4 commented on #309
PokemonGo opens but my trainer level is still level 1

[2016-08-30 22:33] imapokemon4 commented on #309
In order to get it to update to my trainer level I had to go back into GoIV and click stop.

Then click my trainer level until the keypad thing pops up and click the green checkmark.

Sometimes it doesn't pop up, so I just keep clicking until I see that the visible trainer levels around mine change to the correct ones (e.g. from 22, 2, 3 to 21, 22, 23).

[2016-08-30 22:43] sarav commented on #252
I get that point. Agree with adding in base stat. But the absolute % should be a percentage of a value that doesn't change across Pokemon type. Otherwise, you'd still not have any idea of the base stat.

Say you gave $300 and I give you $100 out of a max of $200.  Absolute% would be 80% (400/500)

Say you have $5, and I give you $5 out of a max of $5. Absolute% would be 100%.

But no, $10 isn't be

[2016-08-30 22:45] sarav commented on #252
I'm saying we should always compare it to $1000. Not sure what that number is for Pokemon though. Maybe the best stat of all Pokemon?

[2016-08-30 23:13] Blaisorblade commented on #252
Let's clarify goals. I think @Eccenux wants to use these percentages to compare pokemon of a single species with each other. And a measure relative to the species makes sense for this goal—so that you see, for instance, that for Gyarados IVs make a negligible difference.

While comparing with $1000 might make sense for comparing different species, which is what @sarav mentioned.

But I'm not sure

[2016-08-30 23:21] #272 closed

[2016-08-30 23:21] #293 closed

[2016-08-30 23:28] DJCrapsody opened #312 "Adjust Evolution spinner in expanded info box"
Previous attempt was unable to fix the alignment therefore reverted.

[2016-08-30 23:40] Blaisorblade commented on #309
You say:

What you need to do:
- type 22 for my trainer level
- click the green checkmark
- click start

It's sure annoying as hell. But since it affects half of my apps, I believe it's Android's fault—that's how the widget works IIUC. We might still be able to do sth. about it—and maybe in fact all these apps misuse the widget. But I delegate an answer to people with more Android expertise.

[2016-08-30 23:45] Blaisorblade commented on #239
#294 became #304 that became #311 and was merged. That improves things but is still not enough for me. Note the trapped whitespace between seekbar and "appraisal refining"—recovering that would be more than enough to uncover the missing HP line:

![image](https://cloud.githubusercontent.com/assets/289960/18111015/6fce6778-6f1c-11e6-8fb8-eee88088f672.png)

[2016-08-30 23:47] Blaisorblade commented on #312
Not a blocker for the release, but would be nice in 3.1.

[2016-08-30 23:57] Blaisorblade commented on #312
Here are two screenshot from current master (4c70007b6649247667753ba6967d890211810397) plus reverted 59b94362ed4f8e470853040f4d830167d2750a7f (hence, with the negative margins readded):
![image](https://cloud.githubusercontent.com/assets/289960/18111225/226b8c3e-6f1e-11e6-8c68-790a3ca77886.png)
![image](https://cloud.githubusercontent.com/assets/289960/18111230/24dadede-6f1e-11e6-87ab-1a68ddc89dfe

[2016-08-31 00:07] imapokemon4 commented on #309
Can we use a different widget? Or just friggin text box and a button?

[2016-08-31 00:17] Blaisorblade commented on #295
@sarav looking at the code, I think this is due to `cachedCorrections` rather than `userCorrections` (which you're IMHO hinting at). I tried to address the TODO in #313.

Indeed, if you restart GoIV the recognized text is red again.

When I reproduce this, Step 4 means "press the IV button again".

[2016-08-31 00:50] oskomonzon commented on #305
@sarav it was caused by the way the RecyclerView recycles its views (Made the same pun to @nahojjjen). If you don't provide the two sides of a conditional, some times it messes up. I was not able to reproduce the bug on my device (as I was at work and only had one phone to run the test). But through the power of teamwork we ran the test on @nahojjjen's end.

I'm leaving the note here in case someo

[2016-08-31 00:52] Blaisorblade commented on #309
@oskomonzon, ideas?

[2016-08-31 00:54] Blaisorblade commented on #305
If I may rephrase: since RecyclerView recycles views, when updating them don't assume they're fresh but reset anything you changed.

[2016-08-31 01:03] Blaisorblade opened #315 "Battery-saver mode is only force-enabled on 4.4 when entering settings"
To reproduce:
- start GoIV on Android 4.4
- press start
- observe a crash

To workaround:
- enter the settings menu (without having to touch anything), return, and start. Tis must be done only once IIUC, the issue stays fixed.

Solution approach:
- force battery-saver mode on when starting the MainActivity, not in settings.

[2016-08-31 02:02] sarav commented on #295
I think I might have hacked up the userCorrections to work around the point I made when I made the commit to save it. I still think it needs to go into some event Listener method.

[2016-08-31 02:12] sarav commented on #252
But comparing within a species gets better resolution with the way we do things now. If that's the case, I'd actually reject this request.

I completely understand the base stat makes a difference when fighting or defending, but within same species, it's pointless to look at it.

[2016-08-31 02:23] oskomonzon commented on #309
It's a little late here, so I'll give it a look tomorrow. I think we'll need to track the place where we save and load the trainerLevel and where does the Start picks it from.
If for some odd reason the numberpicker is failing to update the value I guess we can make it store the setting onChange and let the start button take it from the sharedPrefs.

I'm curious about if this happened too with the

[2016-08-31 02:32] oskomonzon commented on #273
@Blaisorblade I'll see what I can do tomorrow. I hope to have the time to fix it before the deadline.
To clarify, shouldn't be hard, we can do some UI trickery like scaling it down or something more robust like making a new skin for it. But it requires some thinking/testing to decide the best approach. Also there is Issue #309.

We'll figure it out :)

[2016-08-31 02:50] sarav commented on #296
Btw, rest of the devs. please do list anything else you think should be part of refactor/tech debt.

@Blaisorblade, feel free to move my list into the top comment if you want. I don't mind.

[2016-08-31 02:58] sarav commented on #184
If someone can handle getting the data into populatePokemoninfo() and updated OCRHelper to extract the value (I still have no idea how the numbers are figured out) I can do that rest.

There's not much left at that point, but if others feel they aren't familiar with the rest of the logic, I can do that part.

[2016-08-31 03:03] sarav opened #317 "SharedPrefs might need to be committed properly"
Almost none of the edits to SharedPrefs seem to be "committed". See what I did for userCorrections. When I implemented userCorrections saving across app launches, I found that if I didn't .commit() it, it wasn't saved. My guess is that since we save a lot more on SharedPrefs, some of the "keys" get saved when we update the next "key", but not all are saved.

I think that might be the reason for th

[2016-08-31 03:07] sarav commented on #271
My personal preference. If others like it, go for it?

Sort by IV%, followed by Att, Def, Sta. Don't have a strong opinion on appraisal field based sort.

[2016-08-31 03:25] rpgrca commented on #271
How hard is to make the list sortable by clicking the header? Would mean displaying one row less since it overlaps with the notification bar if possible.

[2016-08-31 03:30] sarav commented on #271
I feel like if we spend too much on making the UI fancy, the app will keep getting bloated. And with PoGo using up so much memory, we have to be a bit leaner.

[2016-08-31 06:54] leppie commented on #298
Confirmed, all is working well so far with an OnlineDebug build from master

[2016-08-31 08:14] nahojjjen commented on #296
@sarav I agree with all of your list except

I think we should break Pokefly into four classes, something like
PokeflyButton - A class representing the flying IV button
PokeflyInput - A class representing the input dialog that appears after pressing the iv button
PokeflyResults - A class representing the results after user has given input
PokeflyResultsExpandedIVs - A class representing the list o

[2016-08-31 08:20] nahojjjen commented on #317
If you're talking about the bug where the iv button when clicked does nothing, and the button reappears after a short while, I've experienced it.

[2016-08-31 08:29] DJCrapsody commented on #296
We still need Pokefly to exist as a service, possibly renaming to PokeflyService to easily identify it as a service class just like how activities are identified with _Activity.

Having new classes to accommodate individual feature will help the project to become modular and each class would be easily identified and managed. With those classes included, they should be utilized only by PokeflyServi

[2016-08-31 09:03] sarav commented on #296
I'm not sure you are even disagreeing with me. You are just renaming pokefly to pokeflyservice. The only difference is you saying the IV button should be a separate class. I think I said elsewhere that IV could stay in pokefly **for now**. The reason being I want to find out more about how much overhead it'll have if we split it out into an activity. It's something that appears and disappears ofte

[2016-08-31 09:16] DJCrapsody commented on #296
@sarav no disagreement, just added some points if we ever split Pokefly to four classes as suggested by @nahojjjen. Just stating some reminders for MainActivity.

[2016-08-31 09:50] Blaisorblade commented on #317
I'm unhappy with adding so much stuff to 3.1.0, but this seems also important.

[2016-08-31 10:30] Blaisorblade commented on #252
I'd have to look at base stats for other pokemons—but it sounds like the difference between min and max stamina IV for Gyarados is the difference between 93% and 100% of the actual stamina, in which case that'd be irrelevant and the extra resolution you have now is not useful.
(You could gain it again with one decimal digit here, BTW).

But I'm not sure that 93% is meaningful. Yes, the formulas co

[2016-08-31 10:42] Blaisorblade commented on #184
Me neither—IIRC @farkam135 asked for lots of screenshots originally.
For the backend logic, you wrote the original code and it's not short, so that sounds good. We might want to add tests there though.

[2016-08-31 10:46] Blaisorblade commented on #309
@oskomonzon There are two problematic behaviors, but you seem to misunderstand which is in question:
- you can't change the trainerLevel while the service is running. That's what you seem to be addressing, but that's not what this issue is about, and that's tricky to fix because the trainerLevel is copied in many places—and this isn't due at all to the GUI code.
- after you type in the control, yo

[2016-08-31 10:47] Blaisorblade commented on #295
Failed to parse, but I hope #313 addresses that.

[2016-08-31 10:52] Blaisorblade commented on #317
Meanwhile: why does the app use 102MB data and 16.40 MB cache? That's a debug version, but the app itself is 33.30 MB only:
![image](https://cloud.githubusercontent.com/assets/289960/18126076/c4b70026-6f79-11e6-8e4d-9c79b3d903e3.png)

[2016-08-31 11:08] Blaisorblade opened #318 "NPE on master"
Just caught this beast here:
[code]

Around that moment, I stopped the service, swiped away the app, and cleared the cache. Not sure which is relevant, but "race condition with the timer when stopping the service" might be it.

[2016-08-31 11:32] Blaisorblade commented on #309
Here's what you see after you return to the app, if you type your level and start before pressing the green checkmark (which on my phone is not easy but possible):

![image](https://cloud.githubusercontent.com/assets/289960/18127221/465bc846-6f7f-11e6-8c21-168f64b34705.png)

[2016-08-31 13:06] #312 closed

[2016-08-31 15:51] sarav commented on #317
That's a lot of data! Not okay at all.

I hope it's corrupt preferences. And not userCorrections or crashalytics or auto updater. Otherwise, well have to kick those out.

[2016-08-31 15:52] sarav commented on #317
Try adb dumpsys on the package and see if you get more info.

[2016-08-31 16:36] sarav commented on #295
Actually, I knew that the match distance goes to 0 (confident match) if we cache it. The reason I let that happen is that "if the user sees the guess and doesn't correct it, then that's an implicit okay from the user. So the app is more confident the next time that it got the guess right"

So, Raticar and Raticate-80/90 would both be guesses as Raticate by the app. If the user "Check IV" for Ratic

[2016-08-31 16:42] sarav commented on #318
Hmmm... that's why I do the timer.cancel() first in the onDestroy() for Pokefly. So, it shouldn't happen. Unless timer.cancel() doesn't wait for a currently running timer to finish before returning.

[2016-08-31 16:44] sarav commented on #318
Poor Java API. From the timer.cancel() doc:

They should have had something like timer.cancel_and_finish() or something if they didn't want cancel to wait for the currently running one to finish.

[2016-08-31 16:45] sarav commented on #318
I think we should move to one of the Android mechanics for periodic work instead of using java.util.Timer. Let's fix this after #296

[2016-08-31 16:50] Blaisorblade commented on #318
IIUC this is just a stacktrace on shutdown, hence it shouldn't impact stability too much. Fine with me.

[2016-08-31 16:57] sarav commented on #318
This could happen when someone just hits stop too. But, it should be hard to hit.

[2016-08-31 17:06] Blaisorblade commented on #318
As long as we don't deadlock that's hopefully fine as well. But I should check.

[2016-08-31 17:54] #309 closed

[2016-08-31 18:04] Blaisorblade commented on #309
Issue fixed by #319.

Apparently @imapokemon4's PR in his fork closed this issue here—I'll ask GitHub what's going on, since that seems a bug. (To be clear: @imapokemon4 you've obviously done nothing wrong 😉).

[2016-08-31 18:15] #295 closed

[2016-08-31 18:17] Blaisorblade commented on #295
I merged the existing PR for now. It would be good to rationalize and fine-tune this later, I also had ideas here:

https://github.com/farkam135/GoIV/pull/313#issuecomment-243731551

But I don't want to do that in a rush.

[2016-08-31 18:20] Blaisorblade opened #324 "Fine-tune and rationalize when we remember user and automatic corrections"
As discusses in #295 and #313, we want to save corrections exactly when the user asserts to one of our guesses or does explicit actions. We aren't quite there.

Pointers to specific comments:
https://github.com/farkam135/GoIV/issues/295#issuecomment-243823230
https://github.com/farkam135/GoIV/pull/313#issuecomment-243731551

[2016-08-31 18:22] Blaisorblade opened #325 "Fix instructions for screenshot mode"
Splitting from #273 (which came from #217), since it didn't get attention there:

@DJCrapsody Do you think you can fix this by 3.1.0?

[2016-08-31 18:32] Blaisorblade commented on #273
I split the 2nd part of the issue in #325 while the level input was tuned. I think we can close for 3.1.0 (let us know otherwise).

[2016-08-31 18:32] #273 closed

[2016-08-31 19:58] nahojjjen opened #326 "Automatically update trainer level"
Since the pokeball in the center of the screen when in map view is persistent & has a pretty unique pixel signature, I think it's feasible to automatically detect the trainer level in the bottom left of the screen. I intend to try and implement this feature after the refactor.

[2016-08-31 20:00] nahojjjen opened #327 "Add two extra spinners to appraisal box for the missing info input"
Now that the appraisal information is in a collapsible box in the input dialog, space is not the same issue as before for extra input components. I suggest adding a feature where the user selects which team he is on, and that he is given two spinner options that correspond to the team-leader feedback to further narrow down the result.

[2016-08-31 20:03] nahojjjen opened #328 "Add a screen where we give credit to the third party tools and libraries the app uses"
I believe some of the dependencies we have have licenses that require us to link back to their sources, something which we currently don't do. Even if the license does not require that we give credit, it would be a nice thing to do.

here's a list of the things I think we should mention (some might be missing)

Fabric

Tesseract

okhttp

butterknife

lombok

timber(?)

[2016-08-31 21:11] skaforey opened #332 "Have default IV screen show evolved stats when possible at the current level"
I guess I'm probably in the minority here, but I kind of liked the way one of the older versions worked where we would see the CP if were to evolve at the current pokemon level.

I was thinking of making this an option, but trying to think of the best way this would be implemented.

For mons that do not get evolved (or are at their highest evolution already), I think it makes more sense to  defaul

[2016-08-31 22:29] SteinerKD opened #333 "Pushing IV button does nothing"
Previously (v2.1.0-13) this app worked fine for me and I could get IV ranges. Now after the auto update to 3.1.0 it doesn't work for me. The app shows as running and the IV button appears, but no matter how many times I tap it absolutely nothing happens (except for the IV button blinking away for a second or so). (PoGO 0.35.0 on Galaxy S7, Android 6.0.1)

[2016-08-31 23:39] oskomonzon commented on #327
Do you think we can have that working before the feature lock?
I'd love to have it before that since some users were pretty vocal about it missing (maybe it's a low minority, tho. But it would be nice adding it sooner or later even if it's not a priority).

[2016-09-01 01:18] rpgrca commented on #333
This is the behaviour I described in #234. The workaround I found was to stop GoIV, and then kill it (recent task list, swipe). Then the next time I launch GoIV and start it, it would work.

[2016-09-01 01:25] oskomonzon commented on #332
This has been discussed before and we know it's a thing that will keep coming up from time to time because there are two strong divergent use cases spread around the userbase:

- Those who aim to check how powerful will be each Pokémon at it's max allowed by the current trainer level.
- Those who simply want to see how will the Pokémon be affected by evolving it without further resource investment

[2016-09-01 01:33] oskomonzon commented on #328
I agree. Maybe a good way to do it is adding an information icon (you know, the "i" in a circle) next to the settings cog and have it display a dialog with a little information, like an about section. Thoughts?

[2016-09-01 02:00] SteinerKD commented on #333
Confirmed. Thank you, sorry for the double report.

[2016-09-01 02:13] rpgrca commented on #332
Much of the discussion can be found in #223.

[2016-09-01 03:28] rpgrca opened #335 "Remember appraisal narrowing based on name"
Throwing an idea: Right now custom pokemon names are associated to pokemon races assuming names are unique. I wonder if it could be possible to also remember the appraisal narrowing based on that custom name.

A possible workflow (A):
1. I have a Hitmonlee, rename him as "Goku".
2. I appraise it, it gives me HP.
3. I calculate IV, it guesses the pokemon type incorrectly, I correct it to Hitmonlee,

[2016-09-01 10:19] SteinerKD commented on #297
This happened to me as well with a 2021 Gyarados. First time it showed correctly, then I clicked the top stat for it after which it said there was no combinations for it and CP was locked as 10.
After viewing another Pokémon and going back it showed correctly again (I have not been able to reproduce this though).

[2016-09-01 11:36] #333 closed

[2016-09-01 17:47] leppie opened #341 "Allow sorting the list of possibilities"
Some times is it hard to look for possible values due to sorting. Seems it is always sorted by HP ascending.

![image](https://cloud.githubusercontent.com/assets/127666/18177916/76d5e6e8-707c-11e6-8bb8-492cdc9f3adc.png)

I want to make a suggestion that clicking on any column, will toggle sorting on that column, click twice for reverse order.

Also the default sorting should be based on appraisal

[2016-09-01 17:49] Blaisorblade commented on #317
I've reviewed the APIs, and using `apply` like we do is fine, and officially recommended for the main thread (https://developer.android.com/reference/android/content/SharedPreferences.Editor.html#apply()). Closing the app won't interrupt saving. `apply` is asynchronous, so at worst is problematic if the entire phone crashes IIUC. We might still want to doing `commit` as long as this is not on the

[2016-09-01 17:51] leppie commented on #327
I made a similar suggestion in my PR (#336), where you have a multi-state checkbox (uncheck, check, rank #1, etc).

Was thinking the checkbox color could change based on the IV color determination from my PR.

[2016-09-01 17:58] Blaisorblade commented on #317
Re `dumpsys` I'm not sure what you have in mind—couldn't find yet how to get info on saved data. Will have to take a closer look. And probably on a release build.

[2016-09-01 18:00] Blaisorblade commented on #301
Postponing as no information has arrived and we're heading for release.

[2016-09-01 18:17] Blaisorblade commented on #239
Testing current master, this is finally fixed! Closing.

[2016-09-01 18:17] #239 closed

[2016-09-01 18:26] leppie commented on #271
Requested sorting with #341

[2016-09-01 18:32] oskomonzon commented on #341
Sorting ivScanResult's ivCombinations should be more or less easy hacking together a custom Comparator class.

About sorting by appraisal hints... I'm not sure how would be the best way to handle it since the user is able to pick multiple stats for evaluation. I guess we could sort it in the order they are displayed but I'm not sure if it will be the best solution.

[2016-09-01 18:44] #315 closed

[2016-09-01 18:56] leppie commented on #341
@oskomonzon When multiple stats are selected you only need to sort on one of them, they will always be equal.

[2016-09-02 02:19] kaneki1985 commented on #315
#342

[2016-09-02 03:30] topcatzero opened #343 "Force close after pressing start with 39+ trainer level."
Using GoIV 3.0.1 offline. If it helps to narrow it down, this seems to occur before any attempt to start POGO. Level 39 and 40 both cause this. With a trainer level of 41 I get a toast saying it's invalid, as expected.

Nexus 5X Android 7.0

[2016-09-02 10:39] Blaisorblade opened #344 "Document steps for preparing a release"
Those steps are error-prone and we're already falling in the traps (see botched `versionCcode` in 3.1.0). We should have internal docs to avoid that.

[2016-09-02 10:52] Blaisorblade commented on #343
Thanks for the report! I know at least two reasons 3.0.1 would crash at those levels, and those were fixed in 3.1.0 and would *probably* be at startup. (We're fixing up the APK for packaging issues).

Meanwhile, do you happen to know what's the maximum pokemon level for trainers with such levels? It's normally trainerLevel + 1.5. We haven't found enough info and this may impact level calculations.

[2016-09-02 11:52] rpgrca commented on #343
Chiming in. No time to test the latest code, but have maybe 2 or 3 days-old one, and it crashed too.

[2016-09-02 14:13] topcatzero commented on #343
Great updates! I really like the direction this project is going. I just tried 3.1.0. Unfortunately this force close still occurs. Sorry I'm using the offline version. I really appreciate that you offer it though!

I don't know much about max pokemon levels. #301 is the first I've heard of any divergence from the trainer level + 1.5 rule. I can't provide any info about it, my account is not anywhe

[2016-09-02 14:43] Eccenux commented on #327
Spinners with parts of phrases would be great. E.g. for Valour stats sum phrases should be:
37-45: simply amazes me
30-36: is a strong Pokemon
23-29: is a decent Pokemon
0-22: may not be great

Best stat spinner should be:
15: blown away
13-14: excellent stats
8-12: gets the job done
0-7: don't point to greatness

Choosing team should be on the first screen (same as player level).

[2016-09-02 15:44] Blaisorblade commented on #343
First, I just reproduced the bug at the first attempt. Finding the offending code should be easy as soon as I get access to a debugger (I'm on the wrong computer).

As a side note, that pokemon has level around 7 (they seem to say, haven't read the full thread) so given the arc position I'd guess you can start from lower levels (which I guess you did), while we fix this. Thanks anyway for the repo

[2016-09-02 16:59] oskomonzon commented on #341
Lol, you are right, @leppie.

[2016-09-02 17:05] leppie commented on #341
@oskomonzon  Dont worry, I asked myself the same question :D

[2016-09-02 18:35] Blaisorblade commented on #297
@SteinerKD the CP shouldn't be locked—the OCR can totally screw up but it should always be possible to edit it by hand (and if not, that's a bug I'm sure we can fix).

This other thread misreads a CP 200 pokemon (not clear if only that). I'm not convinced there's a relation but I'm watching for it.
https://www.reddit.com/r/GoIV/comments/50ex8f/bug/

[2016-09-02 18:46] SteinerKD commented on #297
In my case I couldn't edit the 10cp showing, but maybe I did something wrong and as I can't reproduce the error I can't verify that statement. If I ever get it to happen again I will try more things and try to document it somehow.

[2016-09-02 19:03] Blaisorblade commented on #232
I suspect this is just the OCR misbehaving, reading Évoli as Évo li which is close to Abo. Not much we can do there against our OCR... since correction learning mitigates this, I'm closing as wontfix.

[2016-09-02 19:03] #232 closed

[2016-09-02 19:09] Blaisorblade opened #345 "Hidden input field when searching for pokemon"
We merged #308 with a small bug to fix (https://github.com/farkam135/GoIV/pull/308#issuecomment-2439511000):

When typing in the field, the input dialog is covered by the keyboard (what we had forever for CP and HP and then fixed); this can be worked around by enabling appraisal.

[2016-09-02 19:11] Blaisorblade commented on #130
Fixed by #308. Closing.

[2016-09-02 19:11] #130 closed

[2016-09-02 19:39] rpgrca commented on #341
After thinking some more about this, I think dynamic sorting isn't completely necessary. Those are all hypothetical values, with only one correct, so you are probably interested only in the minimum and maximum values (aka, highlighting them so that you can notice them at a glance, or sort by IV).

However, I still think tables should be sorted from left to right, and that clicking on headers shoul

[2016-09-03 06:08] DJCrapsody commented on #332
Did a few research on Reddit and GitHub.
There have been 3 users that requested to see evolved stats at the current Pokemon level.

Based on easy-to-use feature perspective, as explained by @Blaisorblade in #233:

IMO, to have a better balanced UX (easy-to-use while relevant), we can change it to display it at current level. It will require changes to some other elements.

Remove the progress of t

[2016-09-03 06:10] DJCrapsody commented on #325
Ah I didn't catch this issue. Can we go for 3.2.0?

[2016-09-03 06:41] DJCrapsody opened #347 "IV button does not show on certain devices"
Bug based on GoIV v.3.1.0, reported on the following devices:

| Phone | Android Version | Remarks |
| --- | --- | --- |
| ZTE Blade V7 | Unknown | NIL |
| Sony Xperia E5 | Android 6.0 | NIL |
| Samsung Galaxy Tab S2 8.0 | Android 6.0.1 | AZ Screen Recorder works |
| Nexus 9 | Android 6.0 & 7.0 | NIL |
| Huawei Y5-II | Android 5.1 | AZ Screen Recorder works <br> Open up one of the 2 gyms, everythi

[2016-09-03 08:46] Blaisorblade commented on #325
I don't think that should a problem.

[2016-09-03 09:55] Blaisorblade commented on #347
We're not supporting landscape mode—and PoGo itself doesn't run there...

[2016-09-03 10:07] DJCrapsody commented on #347
@Blaisorblade the device itself is portrait

[2016-09-03 10:39] Blaisorblade commented on #347
Again: can you install PoGo there? I sure can't on my Nexus 7 2013 with Android 6...

I also won't bet the layout is close enough that screen detection will work there (it's a heuristic after all), but that's up to @farkam135 to say.

We also probably need screenshots of Pokemons from those devices to add support for them.

[2016-09-03 11:14] DJCrapsody commented on #347
https://www.reddit.com/r/GoIV/comments/505qc2/incompatibility_samsung_table_s2_80_no_overlay/

I can get the user to grab some screenshots of the Pokemons.

[2016-09-03 11:55] #344 closed

[2016-09-03 12:13] Blaisorblade commented on #278
Some asked for a way to get the IV button independently of the detection, but for that we want to have the IV button as a separate activity. Then Pokefly would only do the periodic screenshotting.

[2016-09-03 14:58] #343 closed

[2016-09-03 15:40] amcameron commented on #341
@rpgrca : but since GoIV doesn't eliminate all possible combinations specified by the appraisal feedback, being able to sort by different columns could more easily narrow the range of rows you have to search to establish the minimum and maximum values. For instance, if you know Attack is 13 or 14, sorting by attack would make all such rows adjacent to one another, rather than having to skip over r

[2016-09-03 16:27] Blaisorblade opened #354 "Store calculated IVs for a few Pokemon"
https://www.reddit.com/r/GoIV/comments/50htwz/store_calculated_iv/d77waw8?context=3

[2016-09-03 16:32] nahojjjen commented on #341
@amcameron As far as i know, we're going to add the rest of the appraisal input after the refactor is done, so changing something to make it easier for the user to manually think about the appraisal answer wont be needed.

[2016-09-03 16:35] Blaisorblade commented on #341
Agreed with @nahojjjen. IMHO, both sorting left-to-right (for aesthetics) and sorting by IVs (for functionality) still make some sense.

[2016-09-03 16:38] rpgrca commented on #354
Could be paired with #335

[2016-09-03 17:09] rpgrca commented on #297
I can confirm I can't OCR a 200CP Pidgey, it always goes to 10CP. It would look as if the OCR reader can't just detect the "200" combination correctly.

[2016-09-03 17:51] Remiscan commented on #354
I don't know how common it is for two Pokémon to have the same height and weight, but could scanning height/weight be used to match multiple scans?

[2016-09-03 17:58] #297 closed

[2016-09-03 18:00] Blaisorblade commented on #297
@rpgrca Thanks a lot! We just need to replace Z with 2 when we expect numbers, which we already do elsewhere (copy-paste *is* bad). I've pushed to master a fix doing this, and it fixes the problem on my CP200 Seel (hadn't noticed I had one)—do you want to give it a try?

[2016-09-03 18:34] rpgrca commented on #297
Yep, it work, thanks.

[2016-09-03 19:58] SteinerKD commented on #297
Still happening for me with 2021 Gayrados (says 10cp) and 1380 Kingler (says 1cp).
Both have their IV % in their name, might that affect things? (GoIV 3.1.0)

[2016-09-03 20:16] rpgrca commented on #297
@SteinerKD  Kingler is probably because he waves his pincer and might block the CP value, it happens with Gastly, Weezing and others that do that too. Try to press the button when he lowers it. Recognizing 1 means the OCR only saw the 1, while recognizing 10 probably means there was an error (like mistaking numbers with letters). No idea about gyarados, I don't have one.

[2016-09-03 20:17] #332 closed

[2016-09-03 20:19] Blaisorblade commented on #297
@rpgrca's reply is correct, and I can confirm the CP scanning is independent from the name.

[2016-09-03 20:57] Blaisorblade commented on #354
The thread also suggested the moveset.
For all of those options, the only question is scanning the right area of the screen—like OCRHelper does. Once you cut the right part of the screen everything else is easy.

But to do the cutting we have code like this in OCRHelper (for the HP):
[code]
Where do those magic numbers come from? I think from trial and error on screenshots...
I'm not the right guy

[2016-09-03 21:03] Blaisorblade opened #357 "".../".split("/")[1] crashes"
This looks impossible——pokemonHPStr contains "/", but splitting on "/" produces a 1-element array. WTF? I don't know what the string in question is.

Stacktrace at http://crashes.to/s/ad8a16ae9c1.

[2016-09-03 21:04] Blaisorblade commented on #318
This is by far the most common stack trace in Crashlytics for 3.1.0:
http://crashes.to/s/cf49a698164

`grabScreen` ends up returning null. In master that was already handled correctly for screen recording mode, and I fixed it for screenshot mode in fc008d7b286236dc7522e491f2dcb5e1088fc7c8. The crash we had up to 3.1.0 was tracked in http://crashes.to/s/95ed8d63bd0.

[2016-09-03 21:32] nahojjjen commented on #357
If the detected string is for example "1/" then the produced array would be [1], wouldnt it? Trying to get the second element (index 1) would produce an index out of bounds exception.

[2016-09-03 22:19] rpgrca opened #358 ""CP354" recognized as "CP3 54""
(Virtually) Latest code is misreading Nidoran CP354 as "CP3 54", so it always shows as 10 in the GoIV screen.

![screenshot from 2016-09-03 19-11-14](https://cloud.githubusercontent.com/assets/15602473/18227878/654b8074-720a-11e6-8a0b-89bf5ac676aa.png)

Not sure how a white space managed to get there, since it isn't in the tesseract's white list...

[2016-09-03 22:40] rpgrca opened #359 "Inform OCR text with a toast in "debug" mode or after several failures"
Splitting from #358, idea for a future build:

This way when someone reports his pokemon CP couldn't be read, it would be trivial to ask him both the pokemon's CP and the read value to adjust if necessary instead of waiting until a developer gets a pokemon with exactly the same CP value.

Another way could be remembering the OCR value and the correction, just as the application is remembering the

[2016-09-04 04:04] DJCrapsody opened #360 "Background seekbar layer is set wrongly when changing Pokemons with different level"
Will be fixed before 3.2.0

[2016-09-04 11:38] Blaisorblade commented on #278
Just realized:
- the *major* problem we have (beyond the size of Pokefly) is the flags preventing intent duplication. Googling `android broadcast intents duplicated` finds various issues, so *maybe* if we stop using broadcast intents we solve the problem. IIUC, we're forced to use broadcasts to have simple listeners instead of whole activities.
- as @sarav said and I missed, the screen recorder is

[2016-09-04 11:47] Blaisorblade commented on #358
Tesseract does that constantly. The code for HP handles this better I think by filtering non-digits (rather than cutting away two characters).
I've been afraid to reuse it because, well, these are always heuristics and you're never sure it'll be an improvement. Specifically, "ZP 354" would become "2354".

[2016-09-04 11:52] Blaisorblade commented on #327
I was thinking of rows of radiobuttons (see https://developer.android.com/guide/topics/ui/controls/radiobutton.html) with no options selected by default.
Advantage: one tap to pick a preference.
Disadvantage: you can't "go back" to unselected easily.

[2016-09-04 18:50] #360 closed

[2016-09-04 21:04] Blaisorblade opened #366 "We waste storage with an update.apk and maybe more"
I and @sarav talked about it in https://github.com/farkam135/GoIV/issues/317#issuecomment-243728926.

This is for data in `SDCARD_PATH/Android/data/com.kamron.goiv/files/`. And for caches of unknown provenance (and stored not sure where).

Just remembered 20 MB should be for the OCR training data that we copy out of the archive at startup (src in `./app/src/main/assets/tessdata/eng.traineddata`).

[2016-09-04 21:24] Eccenux commented on #327
Radiobuttons are generally better, but in this case texts are too long. You won't be able to fit 4 radio buttons with text in a single row. Each option would have to be in a separate row. So in total there would have to be something like 10 rows (including labels).

[2016-09-04 21:24] DJCrapsody commented on #366
I can confirm the following:
I checked the data folder and only found tessdata but in the settings, it says that GoIV is holding onto ~79MB total data (~35MB app + ~44MB data) and ~16MB cache.
Wipe app data, run app, start GoIV.
Tessdata copied into GoIV folder. ~59MB total data (~35MB app and ~24MB data) and ~16MB cache. There's a phantom 20MB data drop.
This is based solely on using offlineDebug

[2016-09-04 21:28] Blaisorblade commented on #366
24MB is close to the size of tessdata, so let's say that's fine. But the rest is indeed weird. (And we see that even using releases).

[2016-09-04 21:55] nahojjjen commented on #327
I have implemented this feature in my other branch, and osko and me is working on tweaking the ui.

[2016-09-04 22:47] DJCrapsody commented on #366
Okay the update apks will not affect the data storage. Somehow there's this phantom 20MB, and I'm unable to find it because I didn't root my phone. We only have this solution to work with: http://stackoverflow.com/questions/13006315/how-to-access-data-data-folder-in-android-device

[2016-09-05 11:47] oskomonzon commented on #366
Debug offline version is around 80MB on my device too, same as @DJCrapsody.
I'm rooted, so I'll see if I find something.

[2016-09-05 13:24] DJCrapsody commented on #347
![Alt Text](http://i.imgur.com/ARBI3QY.png)
![Alt Text](http://i.imgur.com/oOfQOaQ.png)
![Alt Text](http://i.imgur.com/wKr1Ts0.png)

[2016-09-05 14:08] rpgrca commented on #327
I'm afraid it might be a bit too much to ask for someone to remember three or more piece of information regarding appraisal. Maybe it would be better if GoIV also stayed on top of the appraisal information, slightly above so that the user can read and add the information as the trainer is mentioning it. Or just two independent screens altogether, one that pops up when the appraisal information is

[2016-09-05 18:53] nahojjjen commented on #327
@rpgrca I agree with the memory problem, Ive been using the appraisal version for a day now & it was annoying. I'll see if i can find some easy way to "move up" the entire info dialog when the appraisal box is expanded so the user can click appraise without closing the dialog. Pokefly is pretty messy though so I might not be able to

[2016-09-05 19:39] jef-pearlman opened #372 "Add option to display image of native numbers next to OCR results."
If the OCR setup allows for it, I would love an option that, if turned on, displayed the graphical CP, HP, and point on the CP meter (don't know the proper word for it) next to the OCR'd result.  This would significantly streamline the process for people like me who want to check the data, since you wouldn't have to look up and down twice to compare and remember to check the HP _before_ you trigge

[2016-09-05 21:54] Blaisorblade commented on #231
Fixed in #368. Last discussion in #327.

[2016-09-05 21:54] #231 closed

[2016-09-05 21:56] Blaisorblade opened #373 "Ease seeing appraisal while inputting it"
Following up from @rpgrca in https://github.com/farkam135/GoIV/issues/327#issuecomment-244755425:

@nahojjjen adds:

[2016-09-05 21:56] Blaisorblade commented on #327
The main issue is fixed by #368. Opened #373 for the "memory" issue.

[2016-09-05 22:04] Blaisorblade commented on #345
@oskomonzon or @DJCrapsody can you take a closer look? @oskomonzon already took a look when we talked on Discord, but to no avail.

[2016-09-05 22:21] Blaisorblade commented on #372
😢 that's very unfortunate, we tried fixing it but it's layout dependent (it's better for me on master than it was, not sure if that changed since 3.1). But your idea would avoid that and is generally interesting.

It might be technically nontrivial (sending images inside intent seems bad and maybe to be avoided, not sure), but that's hopefully solvable.

I guess you mean the dot on the arc? We do

[2016-09-05 22:21] Blaisorblade opened #374 "Stop using 10 when failing to read a number"
Rather use `Optional<Integer>` to represent OCRed numbers.

EDIT: reasons:
- failing to OCR the CP is no reason to write 10 in an input box so the user has to delete it; we could later even handle this differently in the GUI (by highlighting the missing input, etc.)
- we have code that compares the OCRed numbers to 10 to check if scanning failed, and I expect that might misbehave in edge cases.

[2016-09-05 22:35] rpgrca commented on #372
I think he says he wants the numeric level the dot represents, like L18.5. Maybe @jef-pearlman can upload a screenshot to see how he's currently seeing it?

[2016-09-06 00:22] rpgrca opened #376 "Don't enable/show "Show All" if there are too many IV combinations"
It only shows an empty screen. I think this was fixed and is back in the latest build.

![2016-09-06 00 14 58](https://cloud.githubusercontent.com/assets/15602473/18258559/72c8b37a-73ae-11e6-88a7-67b2214b97c5.jpg)

[2016-09-06 00:29] Blaisorblade commented on #376
Yep, noticed today. Thanks for the issue!

Meanwhile, with appraisals we should probably allow inspecting pokemons with HP=CP=10.

[2016-09-06 01:33] oskomonzon commented on #373
IMHO this should be taken into account while we refactor Pokefly and implement the solution after that. It may be messy to achieve with the current implementation.

[2016-09-06 02:20] temangit opened #378 "color code for IV stat"
12 and 15 are green.
Maybe 12 should still be yellow and 15 is blue, following the appraisal description in
http://pokemongo.gamepress.gg/pokemon-appraisal

[2016-09-06 02:28] Blaisorblade commented on #373
@oskomonzon Can you elaborate? Do you refer to @nahojjjen's plan or to @rpgrca's?

[2016-09-06 02:56] rpgrca commented on #373
Been using the latest code with the extra appraisals. It's usable, I had to redo a few times because I had forgotten the correct appraisal. I noticed a couple of things, so I give some feedback based on those:

1. Only way to retain all the information is to remember just one word out of each appraisal. In my case, as Team Valor, I remember "like", "decent", "proud" and "amazes" for the percent ph

[2016-09-06 05:28] leppie commented on #378
I already made a PR for this #336. See lengthy discussion.

[2016-09-06 05:43] leppie commented on #373
I would prefer it if just remembered, then you can close GoIV, run appraisal again and fix/add missing info.

[2016-09-06 06:53] Silly105 commented on #55
I cant really help to decide which way is most helpful for the majority of users, but wouldnt miss to link to this idea:
[https://www.reddit.com/r/GoIV/comments/5046mp/proposal_special_unicode_characters_for_copy_to/](url)

The Reddit user "Glurak" proposed a way to shorten the number of needed characters for saving pokemon IVs by using of the unicode character set of circled numers. PoGo has a fu

[2016-09-06 09:31] thearaks commented on #55
@Silly105 I really like that format with Unicode circled number characters.
In my use case, I would configure something like this:
Weedle⓯⓮⓯㊾

[2016-09-06 10:49] marsjaninzmarsa opened #380 "Upload on F-Droid"
It's open source, so why not?

[2016-09-06 10:55] Blaisorblade opened #381 "Use nidoran gender recognition also when nidoran's detected from the candy"
We only use gender recognition `if (pokemonName.toLowerCase().contains("nidora")` (see `OCRHelper`), but that fails for renamed pokemons.

But apparently also candies can be misgendered:
https://github.com/farkam135/GoIV/pull/308#issuecomment-244835226

We "just" need to move Nidoran gender recognition at a different point, without duplicating code or doing it twice. `PokemonNameCorrector` doesn't

[2016-09-06 11:24] Blaisorblade commented on #55
This Unicode-based convention is so cool (and so not-doable-by-hand) that I'd switch to it if implemented, over whatever scheme I'm using.

For anybody doing this: please don't add the code to `Pokefly.java` but somewhere else. Looking at `addToRangeToClipboardIfSettingOn`, maybe this could go in `IVScanResult` (only the String-generating part, not the clipboard-setting part)?

[2016-09-06 13:06] oskomonzon commented on #373
@Blaisorblade I was talking about @nahojjjen's idea of moving up the inputs layout. But this morning I took a better look at the code and it's entirely possible:

![screenshot_2016-09-06-10-01-33](https://cloud.githubusercontent.com/assets/10285769/18274577/6b5e55f2-7419-11e6-9b65-f492cea61e72.png)

[2016-09-06 14:21] Eccenux commented on #373
Maybe use swipe up/down gestures to move the window to top/bottom? IIRC you only need to change gravity and apply layout changes.

This would also help when trying to change input value with non-standard keyboard (e.g. Swype is obstructing view).

[2016-09-06 14:30] oskomonzon commented on #373
@Eccenux the softkeyboard issue should be handled by android:windowSoftInputMode. I'm hoping we get it right after refactoring, once the code is a little cleaner.

In my current testing branch I'm just moving the window to the top (because we need a lot of space to manouver the in-game menu) when the refine by appraisal panel is expanded and back to the bottom on collapse. But it was just for test

[2016-09-06 14:50] Eccenux commented on #55
@thearaks  That would be great but are there Unicode numbers above 50? I haven't found e.g. 51. Seems like it don't exist: http://graphemica.com/search?page=2&q=circled+number

So it seems like IV (and e.g. attack DPS) would be feasible, but not IV as percentage.

[2016-09-06 15:26] #378 closed

[2016-09-06 17:43] Blaisorblade commented on #373
Is the soft keyboard issue #345?
Also: separate this layout on its own window is the *first* step of this refactoring, and nobody actually got started on this.

[2016-09-06 18:25] Blaisorblade commented on #55
@Eccenux made a very good point. I'm fine with using circled numbers for IV *if possible*, but maybe some users would be annoyed at the inconsistency.

[2016-09-06 19:33] Eccenux commented on #373
Changing windowSoftInputMode for the activity doesn't help. Probably because the layout is not full height window... But that's a bit different thing... (old issue, so I'm guessing, not #345)

Anyway I just think using swipe to move the window would be nice UX. This would be similar to moving similar Ingress widget.

[2016-09-06 20:24] Blaisorblade commented on #373
Would be cool, now we just need somebody with a clue how to do that. But it can be amazingly little code, just an `OnTouchListener` handling `ACTION_MOVE`:
http://android-er.blogspot.de/2014/01/implement-drag-and-drop-movable.html

[2016-09-06 20:36] Silly105 commented on #55
It is correct that there are no unicode symbols for numbers above 50. That is why I had thought of using only the three stats - personally I wouldn't need a percentage value if I can see those stats.
But indeed there are quite a few possible use cases - some users may want to put in the attack DPS, as mentioned above, another idea was to note, how far off 100% each pokemon is - so 0 would be a per

[2016-09-06 21:21] #327 closed

[2016-09-06 21:22] nahojjjen commented on #271
Since #341 discusses something which would make this obsolete & a lot has changes with the "all iv results" screen since this issue was posted, I'm closing this issue.

[2016-09-06 21:22] #271 closed

[2016-09-06 21:22] nahojjjen commented on #271
Since #341 discusses something which would make this obsolete & a lot has changes with the "all iv results" screen since this issue was posted, I'm closing this issue.

[2016-09-06 21:22] nahojjjen commented on #271
Since #341 discusses something which would make this obsolete & a lot has changes with the "all iv results" screen since this issue was posted, I'm closing this issue.

[2016-09-06 22:32] Blaisorblade commented on #55
@Silly105 I realize that finding a balance is hard, but if the choice is between nothing and a pretty cool compromise, I think having the latter is better.

And right now consensus seems for not having too many options. I've thought about having a page of advanced settings, but I haven't tried pushing that.

The more common value used is the "actual" percentage, not the reverse, even though that t

[2016-09-06 23:26] Eccenux commented on #55
Having thought of that a bit more I think we could add an option to copy 0-45 value instead of 0-100% for total IV. Anyway here is an implementation of number formatter in Java:
https://github.com/Eccenux/UnicodeNumbers/tree/master

[2016-09-06 23:34] Eccenux commented on #55
I don't think you need many options. Just 3 popular and custom for all the rest.

Possible custom values would standard options:
* {UnicodeAtt}{UnicodeDef}{UnicodeSta}
* {UnicodeSum}
* {IV}
...and:
* {Att}{Def}{Sta} -- as above but simple numbers instead of Unicode.
* {Pokename} -- pokemon name.

Then just implement some class for clipboard string formatting. The class would take the string and IV

[2016-09-07 10:36] DJCrapsody commented on #366
Here's my research so far.
3.1.0 Online Release Build
LG V10 - Stock Android 6.0

http://imgur.com/a/brh3v

[2016-09-07 15:52] sarav commented on #296
So, how's this been going? Want me to help or has anyone done most of the work already?

[2016-09-07 15:54] sarav commented on #296
If someone has done most of the work, I don't mind reviewing it too.

[2016-09-07 16:41] nahojjjen commented on #296
We started a branch that didn't get very far. Then we added extra appraisal input and some other stuff, so the refactoring branch got conflicted, and it probably wont be worked on more.

We have however done some pretty big changes in pokefly and some other classes by splitting up very large methods & other tweaks (me and blaisorblade mostly). So while pokefly is way too big, the content inside po

[2016-09-07 16:45] nahojjjen commented on #55
I think that the hardest part about implementing user-modifiable clipboard options is the input where the user decides how he wants it. Should it be a popup? An input box? If we only present a couple of options in a list, that would be decently simple, but if we give the user the option to manually build their own custom string, it's difficult.

[2016-09-07 17:03] oskomonzon commented on #296
I started working in the window management from Pokefly making small changes and separating the layouts, mostly testing at the moment.
I'll probably ask @nahojjjen for help and insight with some stuff. Pokefly's UI control methods all over the place.

[2016-09-07 17:32] rpgrca commented on #55
As a preview, it could just be a textbox in the settings, just below the one enabling copying to the clipboard.
Note that it's something most will probably enable and configure once, so with good documentation it should just be enough. Maybe poll to see which formats are the most required to add as default, but anyone interested in IV is slightly more advanced than a casual user, and will probably

[2016-09-07 17:43] jef-pearlman commented on #55
Just noting that you'd likely need two settings, one to use if the individual IVs are known, and one if there's still a range of possibilities.

[2016-09-07 17:52] jef-pearlman commented on #372
Yeah--after writing this, I noticed the layout dependency (the HP view is not blocked on another device I have).

On the second point, I did mean the dot on the arc.  For that, I was envisioning a small snapshot around where the detected (red) dot is places, so that in the normal case one can see a bit of the white portion of the arc to the left of the dot, the gray portion to the right, and the r

[2016-09-07 19:31] Blaisorblade commented on #296
@sarav I think that branch https://github.com/farkam135/GoIV/tree/breakApartPokefly was useful to get started—but we won't reuse the actual commits. I confess that without you this hasn't progressed much.

Meanwhile, PR https://github.com/farkam135/GoIV/pull/371 for notification actions is also somewhat related to the intent flow.

[2016-09-07 20:45] sarav commented on #296
Why did we add more appraisal features? :(

We can't keep adding more features if we want to finish the clean up.

@oskomonzon can you push your changes as a PR so that I can see where it's going? Maybe I can do a hacky separation of UI code from Pokefly so that people can work on the UI code clean up and Pokefly clean up separately?

@nahojjjen Has the big changes to Pokefly merged? If not, shoul

[2016-09-07 20:48] sarav commented on #296
@Blaisorblade That branch has some good commits. So, maybe I'll cherry pick the good ones, make my changes and then send a PR.

[2016-09-07 20:57] sarav commented on #317
If others are sure the current API usage is correct, then someone who's sure should close this issue.

[2016-09-07 21:15] sarav commented on #366
@DJCrapsody at least in your imgur album, everything seems fine. So, do we say it's not an issue with master?

Btw, why does our app even use any cache? I thought cache only contained cache of stuff downloaded. What else is counted as cache?

[2016-09-07 22:19] DJCrapsody commented on #366
@sarav that was the first test case. I haven't tested out the updating case, both thru updater or downloading of apk

[2016-09-08 00:08] sarav commented on #366
Yeah, I was about to add "not an issue with offline version", but I'm on mobile and editing isn't possible. So, just left it as is.

Does anyone else have unexplained data or cache size with the offline version?

[2016-09-08 00:10] sarav commented on #366
Scratch that. My offline debug version uses about 8MB of cache. WTF?!

[2016-09-08 00:13] DJCrapsody commented on #366
Other than debug version (not proguarded), no explanation. My current suspicion lies with updating the app and somehow it retains data.

[2016-09-08 00:14] DJCrapsody commented on #366
Debug versions have tons of dex files.

[2016-09-08 00:52] sarav commented on #366
I know what's going on. I'll post more details and commands later on.

[2016-09-08 00:52] DJCrapsody commented on #366
sweet. welcome back :)

[2016-09-08 02:43] sarav commented on #366
Ok, I have the offliedebug version of the app installed and I saw 8MB of cache. If you have the debug version of any app installed, you can run this commands (found the run-as command from the link @DJCrapsody posted)

To list all the files under cache folder of the app and their sizes in units of "blocks" (in my case, the blocks were 512 bytes):
`adb shell run-as com.kamron.pogoiv.nointernet ls -

[2016-09-08 02:54] sarav commented on #366
Unfortunately, the release version APKs can't be accessed using run-as command. Fortunately, at least in my phone, the "Data on SD card" files seem to be put in a location accessible by a non-root file explorer.

It goes under /mnt/sdcard/Android/data/com.kamron.pogoiv/files (not the real SD card).

I never really use the online version of the app (yes, @nahojjjen, I'm one of those people and it's

[2016-09-08 04:30] DJCrapsody commented on #366
The strange issue is that the file will be named as GoIV_new.apk coded into the download service and the file is only downloaded to Downloads folder. Apparently something is creating update.apk in the data folder.

[2016-09-08 04:43] sarav commented on #366
That's the "caching" part of the "Cache" :) If I'm not mistaken, Android automatically caches files you download through certain HTTP(S) libraries/APIs. I'm sure there'd be a way to ask it to not cache. Is the apk called update.apk on the server?

[2016-09-08 04:45] DJCrapsody commented on #366
Caches are stored in root/data/data/com.kamron.pogoiv/cache

[2016-09-08 04:46] sarav commented on #366
Ah right, this is "Data". Hmmm...

[2016-09-08 04:46] DJCrapsody commented on #366
and apk in release assets is GoIV-Online.3.1.0.apk

[2016-09-08 04:48] sarav commented on #366
Bug in the updater library then?

[2016-09-08 04:58] DJCrapsody commented on #366
I don't recall of using any libraries. Maybe @jehy or @rhari991 can look into it?

[2016-09-08 09:11] Blaisorblade commented on #317
As the one who looked it up, closing.

[2016-09-08 09:11] #317 closed

[2016-09-08 09:19] Blaisorblade commented on #366
We're using an `Intent.ACTION_VIEW` intent, [see code](https://github.com/farkam135/GoIV/blob/9091ad4d2687fd81874412a4c8a2aa8d680e27b5/app/src/main/java/com/kamron/pogoiv/updater/DownloadUpdateService.java#L57-L62).

Googling `action_view for upgrade saving data` found nothing relevant.
Solutions that come to mind:
- search better/ask a new StackOverflow question
- just add code deleting `update.a

[2016-09-08 09:52] Blaisorblade commented on #380
We talked about it and were generally in favor, but nobody actually did it.

[2016-09-08 11:48] oskomonzon commented on #296
@sarav will do as soon as I have a moment at home to end splitting the layouts into independant files and make some small Pokefly tweaks.

Sorry for slowing down, I'll be out this weekend and I need to make sure everything's on point at work.

[2016-09-08 12:19] Blaisorblade commented on #296
Basically without you nobody was able to do the clean up, and adding appraisals was relatively easy anyway. So the choice was between doing nothing and adding a (IMO well-isolated) feature.

[2016-09-08 13:08] DJCrapsody commented on #366
I can't test use case of upgrading offline versions because 3.0.1 and 3.1.0 offline versions are signed with different keys but I think the issue comes from online updater.

[2016-09-08 13:22] DJCrapsody opened #383 "Refine by powering up/evolving not working as intended"
Powering up works as intended while evolution does not.

Check IV on Pokemon A, evolve Pokemon A, check IV on Pokemon A - `canLastScanBePoweredUpPreviousScan()` returns false.

Unintended behavior:
Check IV on 2ndEvolutionPokemon, check IV on 1stEvolutionPokemon (e.g. Flareon then Eevee) - `canLastScanBePoweredUpPreviousScan()` returns true.

[2016-09-08 13:40] oskomonzon commented on #383
IIUC, this one:
`boolean isEvolved = p1.isInNextEvolution(p2);`
should be
`boolean isEvolved = p2.isInNextEvolution(p1);`

p1 is current Pokémon, p2 is previous scan. Current should be in the evolution list of previous.

[2016-09-08 16:05] sarav commented on #296
@oskomonzon , I was asking if **I** should do a hacky UI split if your UI clean up will take time. I don't think I'll call your UI code changes a "hack" 😃 I think your code would be better than my hacky attempts at it.

@Blaisorblade Referring to the chat in Discord, I can see the need for all the commits, but I'm not sure I agree (yet?) on how some of the changes were done. Since the clean up bra

[2016-09-08 16:49] Blaisorblade commented on #296
TL;DR. Can I merge https://github.com/farkam135/GoIV/pull/382/commits/e3e4c86fae8c77afdb68c3f489c00c336202fa91 quickly? That should IMHO be rather uncontroversial. I'll wait for an answer, but most other stuff right now should probably wait (unless we're sure it won't conflict).

@sarav I'm not sure what you're suggesting, or which commits you're talking about. You want to rework `breakApartPokefl

[2016-09-08 16:58] sarav commented on #296
That one commit looks fine. There's one function that's practically 2 lines and only used once.  I think that's an overkill, but that's alright. Go ahead and merge that commit.

I was talking about the miscRecactorings branch. I thought it had more than just that one commit.

[2016-09-08 17:01] Blaisorblade commented on #296
Notwithstanding the misnomer, all other commits in that branch are about features. I'd fix it now but in a hurry, sorry.

[2016-09-08 21:12] oskomonzon commented on #296
@sarav of course! Feel free to exert whatever hackery you deem necessary. I'll be out at least a couple of days starting from tomorrow afternoon, so don't worry about running into conflicts, I don't think I'm gonna be back until Monday.

[2016-09-08 23:56] lennykano commented on #296
I'd suggest using the `@Nullable`/@NonNull` support annotations on methods/parameters/fields throughout the project to improve nullability handling. Much harder to accidentally forget a null check in the future. Or even better, use `lombok.NonNull` which will automatically generate a `NullPointerException` if something violates the contract, and therefore abort early.

[2016-09-09 04:35] sarav commented on #296
@lennykano No clue how to use it. Pointers to docs? I don't generally code in Java or for Android. So, not up to date with the fancy tools.

[2016-09-09 04:43] lennykano commented on #296
http://tools.android.com/tech-docs/support-annotations (have a look at the Nullness Annotations section)

It's basically a way to tell the IDE whether a return value, parameter or field can possibly be null or nonnull so that i.e. if you try to dereference a field/parameter/method return value marked `@Nullable` without first checking it is not null, the IDE will flag it with a warning. `@NonNull`

[2016-09-09 08:28] sarav commented on #374
What does this improve for the end user? Why is this a bug and not an enhancement?

[2016-09-09 11:07] Blaisorblade commented on #347
Just learned that Zenfone actually dims color when playing with brightness (similar with https://play.google.com/store/apps/details?id=com.haxor&hl=en). That's probably something to check for those devices (if it wasn't asked yet).

[2016-09-09 11:17] Blaisorblade commented on #374
OP edited. I can relabel as enhancement if you really care.

[2016-09-09 11:40] imapokemon4 commented on #374
This bugs me. So I'd agree with @Blaisorblade calling it a bug.

[2016-09-09 12:26] Blaisorblade commented on #374
Thanks. Let's not focus too much on the label though ;-).

[2016-09-09 12:38] DJCrapsody commented on #374
No input if fail to ocr is better. I find it troublesome to delete and type every time it fails.
`need improvement` seems ideal for a label

[2016-09-09 12:51] Blaisorblade commented on #374
Switched to *enhancement* (which is already available).

[2016-09-09 14:15] sarav commented on #347
Btw, PoGo and GoIV work perfectly on a Xperia Z2 Tablet.

[2016-09-09 14:20] sarav commented on #326
I was thinking about this myself a while ago, but this will increase power consumption a lot to OCR that region every .75 seconds. That's why I have it up. Level up doesn't happen often enough to matter. I think one request was to also add a +/- button to the notification. I think that's she best compromise. No?

[2016-09-09 16:46] nahojjjen commented on #326
I wouldnt need to ocr that region every 0.75 sec, I'd just need to check if 2 pixels are a perfect match to the pokeball that's only visible on the map screen. Thats the same type of if check thats performed to check if the user is looking at a pokemon. The performance cost is negligible.

[2016-09-09 16:58] Eccenux commented on #373
Swipe is not feasible after all. Even if you somehow manage to catch touch events user will probably click on something while trying to do the gesture... But moving window on click of appraisal group should be fine.

[2016-09-09 18:19] #373 closed

[2016-09-09 18:27] Eccenux commented on #55
I think that the hardest part about implementing user-modifiable clipboard options is the input where the user decides how he wants it. Should it be a popup? An input box? If we only present a couple of options in a list, that would be decently simple, but if we give the user the option to manually build their own custom string, it's difficult.

That's how things are done for date format. Usually

[2016-09-09 18:49] #383 closed

[2016-09-09 19:17] nahojjjen commented on #372
I personally do not think this feature is something that should be added, as it would require us to add and maintain placing images in the input layout and designing it to work well. I think it creates more problems than it solves.

[2016-09-09 19:19] nahojjjen commented on #184
I have started implementing this in 250628596279f40292ee93fe2b2f31393987f106

[2016-09-09 21:28] leppie commented on #341
Does c1dfddf really address this, or just sort them 'better'?

[2016-09-09 21:33] Blaisorblade commented on #341
It just sorts them better. But now we have working appraisals, so users don't need to search for pokemons matching appraisal results by hand—and this seemed to be the opinion of most here. Do you think that's not enough?

[2016-09-09 21:45] leppie commented on #341
In most cases yes, but if you get say 100 possibilities, having the option to sort, can refine it your own classification. Is making sorting really that hard? (I would not think so, unless it is a control/UI thing)

[2016-09-09 22:01] Blaisorblade opened #388 "Pick colors for IV highlighting"
In #336 we implemented better IV highlighting—which colors to use was still an open discussion. We should figure that out.

[2016-09-09 22:05] Blaisorblade commented on #388
Pinging @Remiscan since he already did a few experiments.

[2016-09-09 22:22] nahojjjen commented on #341
I dont actually think its possible to get 100+ results unless you're checking some 10 cp level 1 pokemon. I dont see a reasonable usecase.

[2016-09-09 22:23] Blaisorblade commented on #341
Again: now that we have appraisals, what's the use case? I've reopened the issue for now, but I also doubt there's a point.

[2016-09-09 22:28] Remiscan commented on #388
Here's what I tested and the reasoning behind it:

- Light Green / Dark Green : http://i.imgur.com/b1rgsOE.png

I tested this one because I felt that 13-14 and 15 should both be in different shades of green, because they both represent good IVs. I thought the contrast between the light green text and the background was a bit low, so I tried making the light green darker.

- Green / Dark Green : ht

[2016-09-09 22:46] #357 closed

[2016-09-10 00:30] Blaisorblade commented on #388
Personally, I find easy to distinguish most important, especially accounting for sunlight and non-perfect screens (or less extreme variants).

[2016-09-10 01:35] sarav commented on #326
Sure, I understood that part already. But that's going to match majority of the time. And the you are going to have to check the trainer level using OCR to see if the trainer level changed. So, it's still a lot of OCR without the user triggering anything.

Am I missing something that makes sure the OCR only runs when the level up actually happens?

[2016-09-10 01:36] sarav commented on #184
@nahojjjen Let me know if you want me to help out with the stuff I offer to help out on.

[2016-09-10 02:17] Paxtez commented on #388
For the each stat IV, why not use a gradient like the catch color circle?  0 pure red, 15 pure green, with 7/8 being yellow?  Simple, matches the theme used by the game.

[2016-09-10 09:38] nahojjjen commented on #326
The ocr would run once every time the the user navigates to the map view in my current imagined implementation.

Example for clarification:

User is not on map screen, no ocr is performed
User enters map screen, ocr is performed
User is still on map screen, no ocr is performed
User leaves map screen, remember to check next time user enters map screen.

This implementation would work by having some

[2016-09-10 10:41] Blaisorblade commented on #388
I think we already decided to follow the appraisal system and there are good arguments there—many care about the difference between 14 and 15.

The catch color uses red-orange-yellow-green, so it does have enough colors. But yellow on white background is unreadable.

[2016-09-10 12:11] Blaisorblade commented on #335
The current assumptions is that the same name isn't reused for different species, and that's often barely true (some remove the species from the name altogether). We're in fact planning to drop this assumption and use just the candy name + cost.

But I can totally have two Eevee87 if they have the same average IV percentage, so that assumption you propose works even less often. So I'm closing this

[2016-09-10 12:11] #335 closed

[2016-09-10 12:15] Blaisorblade commented on #193
Closing for now, as no further reports surfaced and #209 was merged.

[2016-09-10 12:15] #193 closed

[2016-09-10 12:18] Blaisorblade commented on #223
We've changed the default to be on the left.

Hm, Haven't done that yet, and I agree that's what I want more often. Should do.

[2016-09-10 12:21] Blaisorblade commented on #268
Scheduling this for 3.3—this might go in earlier given a working PR that is safe to merge (say, a new version of #371 from @thearaks), but this might not be easy.

[2016-09-10 12:23] Blaisorblade commented on #301
Postponing again to backlog.

[2016-09-10 13:48] #374 closed

[2016-09-10 16:02] Blaisorblade opened #391 "Stop copying Image into Bitmap at each check"
I noticed while debugging #390. I believe this is rather wasteful if we are to just access two pixels. Fixing this would require to index correctly the raw ByteBuffer, but I expect this is the kind of optimization that is wortwhile.

@sarav, opinions?

[2016-09-10 16:04] Blaisorblade commented on #391
Just noticed #300 which is related (but more ambitious).

[2016-09-10 20:25] sarav commented on #326
Ok, that's better, but this is still a lot of work (code and runtime power cost) that can be handled by a simple "+/-" button on the notification.

[2016-09-10 20:28] sarav commented on #391
I think this would be a good optimization anyway. Even if #300 is implemented. Transferring buffers can cause quite a bit of power usage.

[2016-09-10 20:28] Blaisorblade commented on #391
I bet. And... I did get this working! PR coming soon.

[2016-09-11 05:25] sarav commented on #325
Made irrelevant by #393

[2016-09-11 05:28] sarav commented on #69
@nahojjjen You seem to be the OCR expert. Want to give this a shot next? This would be very useful for people like me (when I actually play the game instead of coding GoIV) who can't remember the weakness types for Pokemon.

[2016-09-11 08:01] sarav commented on #381
Sometime ago, I noticed one of the gender characters was OCRed as Q. So, I went and check the male and female again. The problem is that Nidoran♀ always gets identified as NidoranQ and Nidoran♂ always gets identified as Nidorand. Both NodiranQ and Nidorand are seen as closer (or just as close?) to Nodiran♀.

I think a simpler fix than the color checking would be:
1. Just let OCR do it's thing
2. T

[2016-09-11 08:59] FantoYouYou opened #397 "Workingon Nox?"
Hi, great app but i would like toi test it on nox, but can't seems to get it to work. it doesn't find capture rep. Any suggestion ?

[2016-09-11 09:16] sarav commented on #381
Went ahead and implemented it myself. Tested it. It works.

On an unrelated node, how does OCR even work for ja locale? The characters are not latin characters and we seem to initialize tesseract with a whitelist of latin characters only (except the gender chars). I'm guessing GoIV doesn't work well for them? And hopefully user corrections is helping them a bit?

[2016-09-11 09:18] DJCrapsody commented on #397
It should, with the standard resolution. But till date, no one has reported on GoIV working on an emulator/VM. It will probably not be supported at any time in the near future as such programs are usually linked to gps spoofing due to the ability to change gps.

[2016-09-11 09:20] DJCrapsody commented on #381
I don't think its properly supported for the jap client. there aren't enough or any demand for it since the start.

[2016-09-11 09:22] sarav commented on #358
I think we should throw out all spaced from all the OCR text and then do any comparisons. Including pokemon name, candy name, etc. We can remove the spaces in a similar way when we create the pokemap so that the look up continues to work. That should remove a lot of errors IMO. Including this one.

[2016-09-11 09:34] sarav commented on #354
Are there other IV OCR apps? I actually like UI of the other app that was linked there.

[2016-09-11 09:38] sarav commented on #296
@Blaisorblade, looks like I can't edit the checklist. You might want to check the 2 items I checked off on my comment.

[2016-09-11 09:45] MMitsialis commented on #55
Hi,
I am not a coder, but heavily involved in IT. My thoughts:
1. Form without function is meaningless.
2. Form follows function.

So what function is the copy to clipboard?
1. Record of our Pokémon.
2. Export of Pokémon for analysis
3. A means to make decisions on Pokémon

For items 2 and 3 the IVs are critical, hence the app. To perform the analysis the attribute values are meaningless without t

[2016-09-11 10:13] nahojjjen commented on #69
@sarav is what you're requesting that I make the screen scan detect when a user is viewing a gym?

[2016-09-11 10:35] nahojjjen commented on #358
@sarav i agree that no ocr should actually need spaces, except for maybe candy recognition, where the space might be helpful in determining where the "candy" portion begins.

[2016-09-11 11:38] Blaisorblade commented on #358
But right now Candy is often split into two words. IIRC this is fixed because "Pikachu Can" is still closest to Pikachu.

I've thought of hardcoding the word for "Candy" in the languages we support, though I'm wary of that (right now GoIV works for unsupported languages). Maybe that's the way to go?

Or we could just keep "Candy" in there and hope that the closest thing to "PikachuCandy" is "Pikac

[2016-09-11 11:41] Blaisorblade commented on #55
A few other goals might be conceivable, but we're focusing on simply pasting the copied text as new Pokemon nickname in some form, since that's the only way to attach annotations to a Pokemon.

[2016-09-11 15:46] sarav commented on #69
Well, the whole feature :D

I'm not a UI expert either. Obviously, it's your choice to work or not on this. But I think it's better to have you spend time on something only you can do.

[2016-09-11 15:54] sarav commented on #358
Having a unique list of user OCR results would be super helpful! Can crashalytics help there?

But we might get a lot of junk because of renames.

I'm tempted to say we break languages we don't support or add a setting to get number of characters in Candy name. Then we can just chop off that many characters. Any idea on the user stats on locales? Wonder how they'd even use it if the text is all in

[2016-09-11 15:56] Dreckiger-Dan commented on #69
little update:
I currently have no time to work on the project because of school/work. I also don't play Pokemon Go that much anymore. Maybe it is better if somebody else implements this feature... Sorry for letting you wait for so long :pensive:

[2016-09-11 16:05] #391 closed

[2016-09-11 17:03] rpgrca commented on #354
https://play.google.com/store/apps/details?id=com.hdezninirola.pogoanalyzer
https://itunes.apple.com/us/app/poke-genie-smart-iv-calculator/id1143920524
https://itunes.apple.com/us/app/offline-auto-iv-calc-for-pokemongo/id1143897524

History mode should be useful.

[2016-09-11 17:08] rpgrca commented on #69
Someone at reddit said they wanted to create a GoIV-like framework where plugins could be added, I think that would be the best approach for this. One plugin would be to work with IV, another plugin would be the gym helper, another plugin could be potion-manager (optimize usage of potions across hurt pokemon, for example), pokemon capture location logging, etc.

[2016-09-11 17:41] sarav commented on #69
Ehhh... I don't think the gym helper needs to be a plugin. That seems to fall under GoIV's main strength - detecting screens and doing OCR. But for the data analysis (off game and off app) and storage part, yeah, I agree that plugins might work.

[2016-09-11 17:54] rpgrca commented on #69
My bad. I was thinking gym-helper was actually the data analysis of the information obtained, whereas GoIV would give a framework (Go! for example) from where it would trigger the different registered plugins (IV, gym-helper, etc).

GoIV is actually about analyzing IV, so I feel somewhat uncomfortable when I read about adding stuff that's not actually IV-related to the main application (and thus w

[2016-09-11 19:12] sarav commented on #69
It won't be any extra layer. Just don't press the button on the gym view? Anyway, we are debating a hypothetical case. It's not like we are writing a plugin framework right now.

[2016-09-11 23:01] #325 closed

[2016-09-12 07:18] sarav commented on #300
Looks like there's a way to do this! This is going to be my next effort. This should hopefully improve power consumption by a lot.

[2016-09-12 13:06] Blaisorblade commented on #300
Question that's been nagging me: is the timer we use suspended when the app is? I'd trust Android-specific timers to do that correctly, not sure for ours.

[2016-09-12 13:59] Slivo-fr opened #401 "Screenshot mode doesn't work"
Hello,

The screenshot mode doesn't work anymore since the last system update of my phone.
I have a zenfone 2 ZE551ML with the latest asus rom (android 6.0.1) and goiv 3.1

I tried to reset app data, reconfig screenshot directory. I can not get it to work again :(

[2016-09-12 14:33] DJCrapsody opened #402 "IV button is not sized correctly"
![iv-wrong-size](https://cloud.githubusercontent.com/assets/2212292/18439672/dff8d468-7938-11e6-9a24-e8ac2035a088.png)

Reported at https://www.reddit.com/r/GoIV/comments/50s7uf/version_310_released/d7hiykj

[2016-09-12 21:11] voltaek commented on #263
@Blaisorblade I see you've added this to the 3.3.0 milestone, but have also added the notification buttons issue to it, when based on my thoughts on how each implementation should act, only one of them should be necessary. Please see my comments in this issue and the notification button one.

Secondly, should I rename this issue since it's not just about keeping the button up at all times, but mor

[2016-09-12 21:39] Blaisorblade commented on #263
@voltaek Ah, just found #268. Thanks for pointing out they're alternative; the milestone planning is approximate, so the current plan is "let's pick what to do after 3.2".

And right now, #268 appears simpler to implement. A floating button sounds cooler but I'm not sure who can do this (or find the time to learn how to do it) and of all my floating buttons, exactly zero work reliably.
(Facebook m

[2016-09-12 21:40] Blaisorblade commented on #263
Forgot to say: I'm happy if somebody volunteers for this.

[2016-09-12 21:40] Blaisorblade commented on #268
@rhari991 Just saw again you had volunteered for this (I had forgotten). Did you make any progress? If you want to work on this, you might want to look at #371 from @thearaks.

Meanwhile, note that #263 could avoid this need; to my ignorant eyes it seems harder to implement though.

[2016-09-12 22:34] thearaks commented on #268
@Blaisorblade, @rhari991 take a look at #404, it's my latest PR on this issue. It could be a starting point for a "+1 level" notification action, if it gets merged!

[2016-09-12 23:21] DJCrapsody commented on #347
<div class="md"><p>Hi DJCrapsody,</p>

<p>That was one of the first things I checked once I saw it mentioned.  By default, the Tab S2 is set to Adaptive so I set it to basic.  Hasn&#39;t made a difference.  I also individually tested the other modes (the two &quot;AMOLED&quot; modes and the reading mode) to see if any of them changed the issue.   Unfortunately, that does not happen to be the case.

[2016-09-13 03:02] sarav commented on #347
Can we just make the app "learn" this too? Just have the user share a screenshot and we'll pick the color from there? Maybe hide it under settings?

[2016-09-13 03:03] sarav commented on #347
Should be pretty easy to learn it too. We already have the ShareActivity. So, maybe once someone shares a screenshot in battery saver mode, we learn the color from there and remember it as a second option?

[2016-09-13 03:14] sarav commented on #401
I rewrote that code in #393 and it should hopefully work in the next release.

[2016-09-13 03:22] sarav commented on #388
@Blaisorblade Wait, are the catch colors based on IV too? Just asking for curiosity's sake.

@Remiscan I actually like the light green/dark green one and it seems perfectly readable on my desktop. But I don't know how it'll look on the device. Not a huge fan of blue/turquoise though. I think geen/dark green also conveys the fact that they are pretty close. So, maybe that's what we should pick?

Or

[2016-09-13 05:52] Slivo-fr commented on #401
Great, thanks for your work. I'll keep you updated !

[2016-09-13 06:05] sarav commented on #401
Looks like you do some Android dev too? If that's the case, maybe make a build of the latest master branch and let us know if it works. Also, I just refactored some code that @farkam135 had done. So, mostly his work that I fixed up a bit.

[2016-09-13 06:11] Slivo-fr commented on #401
Dev for sure, but I Nevers had the chance to mess with android yet. I'll try anyway :)

[2016-09-13 06:23] Blaisorblade commented on #388
On the actual colors I'm not sure. I suspect I'd prefer dark green/blue. Probably using the same blue as the team picker for consistency, `Color.rgb(61, 159, 255)`, also because we use the same yellow. Those colors have decent contrast on white background.

No, they're based on how hard the catch is—see e.g. https://pokemongo.gamepress.gg/catch-mechanics.

[2016-09-13 08:25] rhari991 commented on #268
@Blaisorblade I completely forgot about this, sorry ! My schoolwork has been keeping me busy the past few days. Seems it has been done.

[2016-09-13 09:11] sarav commented on #300
@Blaisorblade The timer code is gone now 😃

@farkam135 A full screen transparent overlay will grab all the touch events and won't let it pass through. There's a specific method to put a view and then say you want to receive events about touches outside the view. For security reasons, you only get the first "finger down" and no location information. This is to avoid apps capturing keyboard key pres

[2016-09-13 11:05] Blaisorblade opened #406 "Wrong gravity for dialog"
To reproduce:
1. press IV button
2. expand appraisal (this will move the floating input window upward)
3. press Check IV (the window will move back down)
4. press button to inspect combinations (window stays down)
5. press back, and *the window moves incorrectly up* instead of staying down.

This sounds like the kind of bug you prevent by just separating the windows.

[2016-09-13 11:13] Blaisorblade opened #407 "Optimize memory usage"
Here are some memory stats. They're not averaged and they're from a debug build, so the numbers aren't accurate. But if the true numbers are in this ballpark we're using lots of memory

Here's memory usage after starting main activity (41MB)—that seems quite egregious. Compare to Google App using twice as much _and showing tons of info_, while we have _one_ dialog.
![image](https://cloud.githubuse

[2016-09-13 11:19] DJCrapsody commented on #407
I have been looking into this for some time but hardly got any ideas. my phone runs slowly even after closing GoIV, got me thinking something leaked, but can't seem to put a finger on where it is at. This happened since the first version till now.

[2016-09-13 11:22] Blaisorblade commented on #407
From experience, this sort of things is hard to solve without profiling—probably it's just one pointer we're keeping set that goes for too long. But the refactorings planned for 3.2 could help.

[2016-09-13 11:26] DJCrapsody commented on #407
The refactoring so far did help in eliminating non potential issues. Thanks to all.

[2016-09-13 11:30] Slivo-fr commented on #401
Just tried it, on the latest master, work pretty fine.
It seem it was the offline apk, but it doesn't matter, does it ?

Thanks again for your work, this app is wonderfull <3

[2016-09-13 11:51] Blaisorblade commented on #401
Offline is fine, yes. Thanks for the test and the compliments, and closing this issue then!

[2016-09-13 11:51] #401 closed

[2016-09-13 13:29] Blaisorblade commented on #402
Thanks for creating a ticket. Bad news: it seems device dependent. On my Nexus 5 the button is fine in size and alignment (a couple of pixels too high maybe, so the opposite direction).

![image](https://cloud.githubusercontent.com/assets/289960/18475445/b150d6d6-79c6-11e6-9d19-05d3930d664e.png)

[2016-09-13 13:48] DJCrapsody commented on #402
I think it's due to the image being badly resized and stuff. Will check on it.

[2016-09-13 16:46] sarav commented on #407
There's a memory profiler in Android Studio that one of you could try out, But @DJCrapsody I'm surprised your phone is slow even after killing GoIV. That's "almost" impossible. The only place that could happen is if we screen up releasing the projectio manager and stuff inside ScreenGrabber. Or if GC is taking its own sweet time.

[2016-09-13 16:48] sarav commented on #406
I saw this too... I just couldn't figure out the steps.

6. Open the detailed IV list and that's stuck up top too.

[2016-09-13 17:01] DJCrapsody commented on #407
@sarav unfortunately it does. I had times without GoIV and just Pokemon GO or just a day without either. The phone goes fine, but with GoIV turned on and after killing GoIV, the phone goes slow until I do a restart.

[2016-09-13 23:02] DJCrapsody commented on #347
Latest update. Seems like display calibration on Samsung devices are screwing with the display. Technically there's a basic mode which turns the screen to use the same calibration as all other devices, but GoIV still wasn't able to scan.

[2016-09-14 04:39] voltaek commented on #300
@sarav Any possibility of this being combined with #263 after you have this in place and working? Basically use the quick screen scan this issue would use, but only do said scan when the floating IV button would be pressed, thus scanning the screen at little as possible (even more so than this issue's method).

[2016-09-14 04:49] sarav commented on #300
Well, I wouldn't really call it "combining" this with #263. I completely understand what you are asking in #263 and it should be doable (as in grab the screen only when the floating button is pressed). But the problem is that I'm not a floating button or an UI expert by any means.

Also, you know how the FB messenger floating chat is super smooth when flicking it around? Yeah, that's super hard to

[2016-09-14 04:50] sarav commented on #366
@rhari991 -- you wrote the updater code right? Wanna fix this?

[2016-09-14 09:16] Blaisorblade commented on #347
Thanks! On @Eremiell's phone we learned that the colors match and the button is still not shown, so there's an extra variable to debug😞

[2016-09-14 12:13] thearaks commented on #300
@sarav I did it once, for an app called Veer. You can test it and tell me what do you think about it.
There's a lot of work to obtain that floating button motion, but if I can find the needed spare time I think I'm able to implement it...

[2016-09-14 12:26] jehy commented on #366
Updater was first implemented in my pull request and was much improved by @rhari991. Unfortunately I don't have time for the fix now but it's very simple - just remove update.apk on application start, just as @Blaisorblade  suggests.

[2016-09-14 12:49] Blaisorblade commented on #366
@jehy Thanks for chiming in.

Since `update.apk` is not created by our code I'm not sure there's a cleaner alternative.

Should somebody *knows* why that file is created and not removed, and knows a better fix, I'm happy to hear about it, but I'd do the simple thing first.

[2016-09-14 15:50] sarav commented on #300
@thearaks Now I'm confused. What exactly do you need from me then? Help with the stuff to do after the button is pressed?

[2016-09-15 02:12] DJCrapsody commented on #402
@Blaisorblade bug and need help labels would be good

[2016-09-15 02:53] sarav commented on #300
@thearaks -- there's a discord channel where devs hangout if you want to chat. We are all different time zones, so you might not be able to catch me all the time.

[2016-09-15 02:59] sarav opened #412 "The orange bar in "power up info" shouldn't be user movable"
The orange bar in the seekbar that shows which part of it is about the current trainer level is user movable if we try to drag it. It should not be moveable.

@oskomonzon -- you might be familiar enough with this to fix it quickly?

[2016-09-15 08:38] d-bischoff commented on #397
"would like toi test it on nox" haha. sure thing. playing pogo on nox is soooo legitimate.

[2016-09-15 08:58] DJCrapsody commented on #412
I was the one who made it. I will check on the code when I am back from work.

[2016-09-15 09:43] DJCrapsody commented on #237
@nahojjjen @Blaisorblade have we added the string back?

[2016-09-15 09:49] DJCrapsody commented on #149
@cdsimpkins there were changes to screenshot mode, if you have Android Studio, you can build from sources and test it.

[2016-09-15 10:10] DJCrapsody commented on #278
We are about done aren't we?

[2016-09-15 12:37] nahojjjen commented on #412
I can confirm that the orange bar is movable.

[2016-09-15 15:12] Blaisorblade commented on #278
@DJCrapsody I think we've done zero work on this issue, at least as described by the OP. In fact, last we discussed on Discord, IIRC we agreed with @sarav to move this to next release.

[2016-09-15 15:17] DJCrapsody commented on #278
Damn. Alright lets hope we get this over with by 3.3.0

[2016-09-15 15:24] sadyc1 commented on #252
This feature request actually makes a lot of sense.
The damage output scales linearly with the total attack (base + iv), so it makes much more sense to display % of the total stats, not just IV (https://pokemongo.gamepress.gg/damage-mechanics)
To give an example: Victreebel has 221 base attack and 151 base defense. The IV has more impact on defense than on attack.

More discussions on this: https:

[2016-09-15 15:42] Blaisorblade commented on #252
Thanks for the pointer. That matters because, IMHO, GoIV should not make up new standard metrics to avoid confusion, but follow consensus from the community.

It also seems that IV alone are never used directly in other formulas—they all depend on base stats + IV. Also, knowing HP/CP is not enough—gym battle formulas also need actual stats in addition, as explained by the Gamepress page you link.

[2016-09-15 16:01] DJCrapsody commented on #252
I agree, base stats should be included. IV by its own is **really not important** (yes I've said it again).
We all know a level 10 Snorlax (with 20% perfect IV) beats a level 20 Diglett (with 100% perfect IV).

[2016-09-15 16:46] nahojjjen commented on #237
Im confused, isnt this in the master branch? https://github.com/farkam135/GoIV/blob/master/app/src/main/java/com/kamron/pogoiv/Pokefly.java#L1444

https://github.com/farkam135/GoIV/blob/master/app/src/main/res/values/strings.xml#L97

[2016-09-15 16:56] #397 closed

[2016-09-15 17:37] sarav commented on #149
Should be fixed in the next release. And you shouldn't get those random popups either. PR #393

[2016-09-15 17:49] #149 closed

[2016-09-15 17:50] Blaisorblade commented on #149
@cdsimpkins Please let us now if this is still a problem.

[2016-09-15 17:56] Blaisorblade commented on #237
Thanks @nahojjjen, you're right.

Now it's empty/empty/Mew with message:
![image](https://cloud.githubusercontent.com/assets/289960/18561027/62f3acd4-7b7e-11e6-8574-d8b92c48d16c.png)

Closing.

[2016-09-15 17:56] #237 closed

[2016-09-15 18:14] sarav commented on #252
Maybe make this an option. I'm not really convinced yet that it should be % of basestat.

[2016-09-15 19:04] #376 closed

[2016-09-15 19:17] #406 closed

[2016-09-15 19:20] Blaisorblade commented on #318
Should be closed by @sarav's change to not use a Timer.

[2016-09-15 19:20] #318 closed

[2016-09-16 05:10] sarav commented on #318
Heh... Deleting code is one way to close the issue I guess. :)

[2016-09-16 06:22] Eremiell commented on #347
As I don't see it mentioned anywhere, my device (which as mentioned has this bug as well) is [Xiaomi Redmi 3](http://www.gsmarena.com/xiaomi_redmi_3-7862.php). Curiously GoIV worked OK on it before, but now even if I flash older versions down to 2.0, it doesn't for some reason. Might be something in newer PoGo client? Another IV calc draws over PoGo just as before, so it's certainly not blocking a

[2016-09-16 06:48] sarav commented on #347
No app downloaded from the play store can actually block another app from doing an overlay (assuming the user gave it permissions). So, I don't think we should ever go down this path of debugging.

Do you mean older versions of GoIV or the Xiaome Redmi firmware? I'm assuming GoIV?

Couple of questions to try and debug this:

1. Can you confirm that when you are on PoGo you see the "Chromecast" lik

[2016-09-16 06:51] DJCrapsody commented on #347
@Eremiell can you try to clear the app data and use ver 2.0?

[2016-09-16 08:06] Blaisorblade commented on #347
Logging in the https://github.com/farkam135/GoIV/tree/LoggingBranchForERRORTEST branch confirmed both the pixel values and the actual result of the `shouldShow` variable. The details are unfortunately lost in Discord logs.

Note the code compares also the value of the alpha channel to `0xff` (by using `Color.rgb`), and I suspect we shouldn't, just to be safer. But that can't affect @Eremiell's res

[2016-09-16 12:11] Eremiell commented on #347
@sarav

I don't think I ever seen such icon, even back when it worked.

what @Blaisorblade said

there was no firmware upgrade since I bough the phone, there was a clean stock reflash done at the official service, because the original flash was somehow unstable, but should be the same OS, kernal, etc. I haven't changed anything major in the system before or now and the test suggests, the detection

[2016-09-16 12:49] Blaisorblade commented on #347
Even without Google Now you should be able to share a screenshot to GoIV—and that uses the same code on GoIV side. IIRC I've done it before. That should be equivalent to battery-saver mode—except that it relies on fewer tricks and it should work more easily.

[2016-09-16 12:51] Blaisorblade commented on #347
BTW: if you want to debug this, I think you want to debug `OcrHelper.scanPokemon`. If that's never run, try to debug its callers (find them with Ctrl-click or Cmd-click on the method name at the definition site).

[2016-09-16 17:01] rpgrca commented on #252
I agree with @sarav here, if possible add it as an option (disabled by default) because everyone is using GoIV right now in different way. Once you turn this on, for all but the very weak species % of base stats will almost always be in the high 80s and low 90s, which is what people are usually using now as a benchmark to powerup pokemon or not. In other words, it will be misleading for someone wh

[2016-09-16 17:11] #412 closed

[2016-09-16 17:16] sarav commented on #252
I'm not even sure I see the whole point of %base stat. That's just as if you are zooming out the details. The only other alternative approach that I find more or equally useful is combining the IVs in the way they are used in the damage calculation. Meaning, an A/D/S = 15/0/0 might be better than a A/D/S = 0/0/15 because of how the stats are using in the damage calculation. People mainly care abou

[2016-09-16 18:10] nahojjjen commented on #252
![unnamed](https://cloud.githubusercontent.com/assets/8545451/18596253/84444572-7c48-11e6-935b-b362521d2330.png)

I created a proof of concept implementation that shows a new text box in the results, the information in the image is:

First row "general score" - this is a score which can be used to compare different pokemon, it's simply the att * def * sta

The second thing shows how much better yo

[2016-09-16 18:27] leejonf commented on #252
Maybe I can help focus the discussion by giving an actual use case I went through yesterday, where a feature like this would have helped quite a lot.

I have a Weepinbell with 80% IV perfection, either 12 13 11 or 11 14 11. After evolving to Victrebel, it will take 90 candies and 99.6k dust to get to level 30, when it will have total stats 171 121 125 or 170 121 125, for CP of 2104 or 2101. I've b

[2016-09-16 20:22] Eremiell commented on #347
I can turn on the battery saver mode, but no idea what's the Google Now mode, sorry, if I'm missing something obvious here.

[2016-09-16 22:20] Blaisorblade opened #419 "Storage permission not needed"
We ask write permissions to write to `getExternalFilesDir(null)`, but according to its JavaDocs since Android KitKat (API 19) we don't need this permission.

[2016-09-17 02:44] rpgrca commented on #252
That's exactly something I'd appreciate, but not sure it should belong to GoIV. And it's one of the reasons why I haven't spent stardust yet (other than by mistake, like today on a fresh magnemite). Still waiting for a way to easily solve what @leejonf mentioned.

[2016-09-17 03:12] sarav commented on #347
When you trigger Google Now on Tap, you also get a share option that allows you to share the screenshot of what's on screen to another app. GoIV in this case. You should see GoIV as a share option. Share to that and see if you can get the info dialogs.

[2016-09-17 03:14] DJCrapsody commented on #419
Reading app specific directories do not require read or write external storage permissions. Unless we are reading from other external directories (screenshot mode?).

[2016-09-17 03:18] DJCrapsody commented on #347
I'm sure MIUI doesn't have Google Now on Tap.

[2016-09-17 03:19] sarav commented on #252
@leejonf But the bigger problem in your case is the current level of your pokemon more so than the IVs. IVs decide what CP you get when you get to level 30. The power up cost and candy cost has nothing to do with IVs. The only difference it'll make in your case if what CP you'll get at level 30 for both pokemon. You get that info already along with the power up cost. So, it was really a decision o

[2016-09-17 03:41] sarav commented on #252
@nahojjjen I was reading that reddit post earlier today too. I was initially all for Metric 2 (as seem by my earlier comment in this issue).

All the other metrics (other than the IV perfection we show today) are either attempting to allow the player to compare:
* Pokemon of the same species
* Or across species.

But the problem with all those metrics and attempts is that they try to include base

[2016-09-17 09:37] Blaisorblade commented on #347
OK, that doesn't really work for me either. I also don't use Google Now on Tap, generally. What I'd expect to work on any phone with any Android version:

- start GoIV
- take a screenshot and open it
- tap the share option from the viewer
- pick GoIV

I get the input dialog with probably correct values, but Check IV crashes. (The crash is really stupid, fixing it).

In fact, I'd want this to work

[2016-09-17 11:32] Blaisorblade commented on #419
Right, thanks! We're reading media storage in screenshot mode (which requires `READ_EXTERNAL_STORAGE`, http://stackoverflow.com/a/30626431/53974), and writing there optionally to delete the screenshot.

Both are classified as dangerous permissions.
However, this permission is not needed in non-screenshot mode.

[2016-09-17 11:56] Blaisorblade opened #420 "Better bound-checking when cutting images"
Somehow, sometimes, we go out-of-bounds when extracting the name from a bitmap: http://crashes.to/s/c9a025fd5e9.

[2016-09-17 12:02] Blaisorblade commented on #420
Same here for candies: http://crashes.to/s/1bebe53d2e9

[2016-09-17 12:38] sadyc1 commented on #252
"the pokemon with the higher IV perfection is always going to be better than the one with the lower IV perfection" - This is not true.
One example, if you aim for high CP then Attack is more significant than Defense and HP - that's exactly why IV% is misleading. In this case a 15/15/0 is better than a 2/15/15 despite the 2nd having higher IV.

For reference the CP formula: https://www.reddit.com/r

[2016-09-17 13:02] sadyc1 commented on #252
"the pokemon with the higher IV perfection is always going to be better than the one with the lower IV perfection" - This is not true.
One example, if you aim for high CP then Attack is more significant than Defense and HP - that's exactly why IV% is misleading. In this case a 15/15/0 is better than a 2/15/15 despite the 2nd having higher IV. For reference, the CP formula: https://www.reddit.com/r

[2016-09-17 13:26] DJCrapsody commented on #252
Technically, total % IV **shouldn't** even be a thing anymore. Following are examples of how IVs impact the game:

**CP calculation:**
`CP = (BaseAtk + IndAtk) * (BaseDef + IndDef)^0.5 * (BaseSta + IndSta)^0.5 * (ECpM)^2 / 10`
ATT **directly** impacts CP as compared to DEF/STA which will be _square rooted_.
As mentioned by @sadyc1, 15/15/0 will always be better than 2/15/15 when it comes to CP, de

[2016-09-17 18:34] sarav commented on #252
@sadyc1 -- you took my comment out of context and arguing against a point I wasn't making. I'm saying that whatever you define as "better IV" (att, def, stam or a combination of those) -- bringing in base stat isn't going to make it any different for a species. The "better" IV will always be "better" -- so looking at base stat is pointless and forces people to look at decimal values.

[2016-09-17 18:43] sarav commented on #252
@DJCrapsody I knew all the IVs weren't equal, but didn't bother analyzing the formula yet. So, yeah, I agree with your point about Attack being more important in general. But response above still seems valid -- for a given species bringing in base stats doesn't change anything and just forces us to look at decimal values.

Btw, CpM_Atk, CpM_def, etc are all picked based on the CP, right? And highe

[2016-09-17 23:43] Blaisorblade commented on #345
Fixed by #422.

[2016-09-17 23:43] #345 closed

[2016-09-17 23:47] Blaisorblade commented on #252
CpM is just a function of the level (see `Data.CpM[level]`, with level rescaled by functions in `Data`), it multiplies the CP (but not only)—IIRC the level is only used in other formulas after being translated to `CpM[level]`.

[2016-09-17 23:56] Blaisorblade opened #423 "Also show HP in evolution stats"
- [x] We show the CP of a possible evolution/powerup. We should also show its HP.
- [ ] And probably we should show the damage as we're discussing in #252.

[2016-09-18 00:08] Blaisorblade commented on #252
I think it'd be nice to actually document usecases. I still only see as valid usecase comparing different pokemon of the same species. To compare across pokemons of different species, you'd need lots more strategic info, including consideration of potential opponent types and so on.

Also, while total IV might be misleading, it's a simple and established metric so we can't really remove it. I also

[2016-09-18 00:17] voltaek opened #424 "Black app screen in PoGo after starting GoIV"
After starting the GoIV service, PoGo is completely black and unresponsive when switched back to, and must be restarted to use. I've tried to figure out a consistent way to make this happen, but I can't seem to find one. I think it only seems to occur when PoGo has been open for awhile, and it doesn't seem to matter whether it's manually or automatically switched to after starting the GoIV service

[2016-09-18 01:14] DJCrapsody commented on #252
@Blaisorblade yup those are the things that gets affected by IV (or total stats in general).

I agree when it comes to use case, we're usually comparing 2 pokemons of the same species rather than the different species. We can still add base stats somewhere so there's some _easy to refer_ info for those who want to know which species is stronger and stuff.

[2016-09-18 01:22] DJCrapsody commented on #424
Has been answered multiple times, the black screen is caused by PoGo being developed on Unity Engine. Sometimes it works, most times it doesn't. Just restart PoGo and it's fine.

[2016-09-18 01:42] voltaek commented on #424
I looked through other issues and didn't see anything like this. Since this is a common thing, I added a question to the FAQ section on the README in a PR.

[2016-09-18 01:52] DJCrapsody commented on #424
That's good. Can you add a 'Fix 424' at the end of the PR? So closing the PR would close the issue too.

[2016-09-18 02:01] voltaek commented on #424
Is that an automatic thing or just so the person doing the merge knows to also close the issue?

[2016-09-18 02:01] DJCrapsody commented on #424
It's automated

[2016-09-18 02:07] #424 closed

[2016-09-18 02:08] voltaek commented on #424
Is there any particular syntax required? I don't see anything about this in the PR section of CONTRIBUTING.md. Might be good to add the specifics there.

[2016-09-18 02:11] DJCrapsody commented on #424
I could probably add it into CONTRIBUTING, unless you would like to volunteer to do it?

Article here: https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-09-18 02:13] voltaek commented on #424
Oh okay, I see, it's a GitHub specific thing. Yeah, I can put something together to add to CONTRIBUTING.

[2016-09-18 02:14] DJCrapsody commented on #424
Yes it is. That'll be great 👍

[2016-09-18 02:54] Blaisorblade commented on #341
Closing again for lack of further justifications.

[2016-09-18 02:54] #341 closed

[2016-09-18 02:59] Blaisorblade commented on #388
Deferring to not block the release.
- We don't have consensus and it's hard to pick.
- Even if I picked anything, I couldn't apply the choice without knowing the codes for the colors used in the screenshots.

[2016-09-18 04:33] sarav commented on #420
How the fuck is this even possible?! I thought all the points were a percentage of the display metrics width and height. Sigh...

[2016-09-18 04:35] sarav commented on #419
Ok, but what fix do we need for this? Battery saver mode is support in all versions of Android. So, we'll just have to live with this?

[2016-09-18 04:39] sarav commented on #372
@nahojjjen This is a constant issue on my phone. Every time I scan the pokemon, it opens up in appraisal mode that ends up blocking CP and HP. I'll have to fold appraisal mode to see what the HP is (which is barely missed from being blocked) and then open appraisal again and go through the rest of the steps. Adding this feature would make the steps a lot more simpler.

[2016-09-18 12:19] Blaisorblade opened #432 "Input dialog should start with appraisal mode closed"
Appraisal mode starts expanded if you used it on your last pokemon, but that means it covers the HP/CP for the new one. @sarav doesn't like it, and I find it annoying because I only use it on a few pokemon, so I don't want it open by default.

[Quoting @sarav](https://github.com/farkam135/GoIV/issues/372#issuecomment-247825059):

[2016-09-18 12:20] Blaisorblade commented on #372
@sarav #432 won't get fixed if nobody opens it—I was literally looking for it yesterday. I've done it for you. (A chat is not a bug tracker 😉 ).

[2016-09-18 12:23] Blaisorblade commented on #419
We already use Android 6 runtime permissions where available. But we defeat the point by asking for all permissions at the start, whether we need them or not. I think that was because of the OCR data—I remember reading this before I started looking at the code.

[2016-09-18 12:52] DJCrapsody commented on #432
Guess we can set the values in the onClick methods of CloseBtn and CancelBtn.

We have to set the following:
1. Arrow to be collapsed state
2. Visibility of layout to be hidden

I can take this, will be finishing the last bit of my drawables crap and I'll go into this.

[2016-09-18 12:55] DJCrapsody commented on #419
ocr data don't require the permission as it writes into externalFilesDir so the only time required for storage permissions is when we use screenshot mode.

And this probably wouldn't affect  ~Lollipop devices right?

[2016-09-18 13:45] #183 closed

[2016-09-18 13:53] nahojjjen commented on #420
I think it'd be clearer if we rewrite the cuttoff method call as I did in getPokemonEvolutionCostFromImg (in the candycost identification branch), instead of using division, use multiplication.

[code]

It's somewhat clearer that it's starting 62.5% into the screen width, and reading 20% of the screen up to 82.5%, and from 86% to 91% of the screen height.

[2016-09-18 14:02] nahojjjen commented on #432
My usage of GoIV is currently as a collective rater which i use at the end of the day after catching a lot of pokemon. I trash all pokemon that arent "breathtaking" according to the built in appraise feature, and then I go through all the remaining pokemon and use GoIV to get a more precise appraisal.

If we change so the appraise always starts collapsed, then that will add an extra click each sca

[2016-09-18 14:24] oskomonzon commented on #432
If we want to cater everyone then maybe we should add a "pin" button somewhere to lock the UI in the position until unpinned (or service stopped). Maybe a subtle tack in one of the corners when the layout is at the top.

[2016-09-18 16:16] sarav commented on #420
@nahjjjen Yes please!

[2016-09-18 16:30] #223 closed

[2016-09-18 17:02] Blaisorblade commented on #223
With #427 we achieved the core of this request, that is:

This is in master adn will be in 3.2.0; for any issues with the compromise we have there, please open new issues, but please try it out first 😉

[2016-09-18 17:22] Blaisorblade commented on #419
@DJCrapsody IIUC yes to both.

[2016-09-18 18:09] Blaisorblade commented on #420
👍  to @nahojjjen's idea. For old code we want probably to do this with special care—no clue why there are so many digits (@farkam135 can you weigh in) but I'd suspect that's from all of @farkam135's testing on tons of screenshots, so we want to keep this equivalent.

Yep. But who says that `heightPixels` and `widthPixels` from metrics relate to the actual bitmaps? Some fuzzy guesses over who knows

[2016-09-18 20:05] rpgrca opened #435 "Compute IV as narrowing is input, autocomplete narrowing if possible"
Sometimes you don't need to add all three values to narrow, maybe when you choose the best stat (which is usually chosen first because it requires just one tap) there's already only one available combination, so going through the combos is a waste of time.

If it's not too wasteful, it would be nice to process IV while inputting the extra information, and automatically fill the other values as soo

[2016-09-18 22:02] rpgrca opened #436 "Start screen slightly too large"
The start screen in the last build is slightly too large, cutting the links, apparently a regression since the current build works correctly.

![2016-09-18 21 58 07](https://cloud.githubusercontent.com/assets/15602473/18619430/630d29ce-7dd2-11e6-9233-7e921e12c24d.jpg)

[2016-09-18 22:07] rpgrca opened #437 "GoIV doesn't show button if starting on pokemon screen"
Happening with the latest code.

1. Start Pokemon Go without starting GoIV service.
2. Go to a Pokemon screen.
3. Go to GoIV, make sure "Launch Pokemon Go" option is enabled. Start the service.
4. Go back to Pokemon Go.

The button does not appear until the screen is pressed. If the "Launch Pokemon Go" option is enabled, it should do a first capture to check if the user has started GoIV while havi

[2016-09-18 22:15] nahojjjen commented on #436
The page is scrollable, the page hasnt fit for my samsung S7 since the new level picker. Afaik we're not aiming to fit the entire page on screen. You just happen to have an unfortunate resolution / dpi combo where the cutoff is a little weird.

[2016-09-18 22:15] #436 closed

[2016-09-18 22:23] rpgrca commented on #436
Actually, it worked fine with the level picker. And I'm pretty sure it even worked fine after the team picker was added, unfortunately I updated the code and didn't keep an old apk to verify.

[2016-09-18 22:41] DJCrapsody commented on #437
This is because we don't periodically scan the screen but only scan the screen on touch. This is kinda annoying for me as well tho but it isn't breaking any functionality for now.

[2016-09-19 09:51] szamuka opened #439 "offline czy online"
Which version is better?

Pokemon Go has access to file and then I can get ban for this use program?

[2016-09-19 10:15] DJCrapsody commented on #439
Seems like English is not your first language. I will keep it as simple as possible.

Offline or Online version is the same.
Online adds Auto Updating and Anonymous Crash Statistics Sending.

GoIV does not connect to Pokemon Go. It is not likely to get banned but Niantic can choose to ban you as they deem.

[2016-09-19 11:18] szamuka commented on #439
but is chance to get banned for use this apps?

[2016-09-19 11:25] DJCrapsody commented on #439
Yes. They can ban you for using a normal calculator as well. They have full control, it is the matter of them trying to justify on the ban. We will say, "If you are scared, don't use it".

[2016-09-19 11:52] nahojjjen commented on #439
The ban risk for online and offline are identical.

[2016-09-19 11:52] #439 closed

[2016-09-19 14:35] Remiscan commented on #388
Here are the colors I used in my screenshots:
red: #8A0808;
yellow: #DBA901;
dark green: #088A08;
blue: #069CC8;
light green: #99CC00;
green: #2BBE10;
turquoise: #06C8AF;

I also tried to take the dark green/blue combination and make the colors a bit brighter: http://i.imgur.com/jenqZv5.png
red: #B10000;
yellow: #F1A900;
green: #00A000;
blue: #0099EF;

I also tried to use the colors from the team

[2016-09-19 15:19] #268 closed

[2016-09-19 15:54] Blaisorblade opened #440 "Switch from Bitmap.recycle() to more modern APIs"
We only support Android >= 4.4, and Bitmap.recycle() isn't needed there.

But for those versions docs have different performance tips we should take a look at:

https://developer.android.com/training/displaying-bitmaps/manage-memory.html#inBitmap

*Maybe* we can just remove all `recycle()` calls and think separately about further optimizations, but if the tips mean "replace calls to `recycle()` by

[2016-09-19 15:59] Blaisorblade commented on #440
We might also want to review suggestions on https://developer.android.com/training/displaying-bitmaps/index.html. In particular, Android complains *CONSTANTLY* that we do too much work on the main thread, and that suggests that bitmap processing should happen on other threads.

[2016-09-19 16:07] Blaisorblade commented on #440
Yep, often, about (IIRC) ~50-100 dropped frames for GoIV, on a Nexus 5 (possibly overheated). If you don't see that, your phone is probably faster or has better software ^_^. But we totally violate guidelines.

[2016-09-19 16:27] sarav commented on #440
I didn't check the logs. But I know why it's complaining and I don't think we should care to fix it. Those complaints matter if we have an active UI when those "too much work on main thread" happens. When we are processing bitmaps, we have no UI to show. So, let's not complicate our code by trying to address a false warning.

The main reason for that complaint is that if you do too much work in th

[2016-09-19 16:29] sarav commented on #440
As discussed over chat, most services run in the same thread as the UI. So, for example, if an app like Gmail used a service to download emails but didn't create a separate thread for the service, then the UI would freeze and lag like crazy since downloads can take seconds to finish. Bitmap processing and OCR is also a lot of work to do in the main thread _**IF**_ we had an active UI in that time

[2016-09-19 21:11] Blaisorblade opened #447 "Finish translating 3.2?"
Since the release is almost ready and we shouldn't have UI changes, I thought I'd let translators know. Of course this doesn't mean you *have* to translate stuff, it's just FYI

Pinging:

@Eremiell (Czech)
@Remiscan (French)
@thearaks (Italian, in case there's sth. else)
@oskomonzon (Spanish)
@RuiNascimento (Portuguese)
??? (German—seems unmaintained)

[2016-09-19 21:19] Remiscan commented on #447
I just checked and with #446 I think everything is translated in French :)

[2016-09-19 21:24] Blaisorblade opened #448 "Replace Color.parseColor with resources"
Noticed while looking at #442. Not urgent at all, but it'd be nicer to avoid parsing the same color strings each time—and the code is easy *and* might have better IDE support.

[2016-09-19 22:44] Eremiell opened #449 "Checksums should be added to all releases."
As checksums are hard linked to releases and not to app as the whole and as the checksums should be available even for older releases for security reasons, they should be moved to given releases next to the download links.

Optionally and up to discussion, we could also include checksum files (GoIV.X.Y.Z.md5sum etc.) with each release to ease up the checking, if that makes sense to our user base.

[2016-09-19 22:56] DJCrapsody commented on #448
I propose to dump all colors into the color.xml, so all drawables and code will grab the colors from it.

[2016-09-19 23:00] DJCrapsody commented on #449
We'll aim for 3.3.0. this will definitely stop requiring us from updating README every time there's a release.

[2016-09-19 23:07] Eremiell commented on #449
Actually one of the badges I added (the commits since) has version tag hardcoded. Kudos to anyone that finds a way to make that generic and point to latest.

[2016-09-19 23:21] DJCrapsody commented on #449
I missed that commit badge. I was thinking of either not putting it, or commits since initial release. It doesn't add much value to readme, not many would be interested in the number of commits imo.

[2016-09-19 23:34] DJCrapsody opened #450 "Drop Japanese language support"
The discussion was lost somewhere on discord.

So... We haven't really implemented Japanese support (didn't include jap.traineddata, no Japanese translation other than Pokemon names).

Reason for dropping is because there aren't any requests for Japanese and translator for Japanese strings.

Adding back Japanese support would be quite simple but only if the above criteria are met.

[2016-09-19 23:37] Blaisorblade commented on #448
Yeah, I took the idea from seeing `colors.xml`.

[2016-09-20 01:07] rpgrca commented on #301
Adding some extra information that might or not be relevant. Browsing pokemon-related pages I found [this](http://www.ownedcore.com/forums/pokemon-go/pokemon-go-hacks-cheats/571826-how-get-max-cp-dragonite.html) (referenced from [here](https://pokemongo.gamepress.gg/power-up-costs)).

It would seem that the powerup button disappears at L39, preventing common players from powering pokemon up to L40

[2016-09-20 01:21] Blaisorblade commented on #301
Thanks a lot—I had seen the ownedcore thread, but it's useful to know that even Gamepress didn't find better info.
Nonetheless, I suspect we should do nothing about this till we get a fuller clue from reports or at least one tester with the problem.
I'm especially worried about the arc formula, which uses the max level but for which we have no info.

I'd like to close the issue for now—if further

[2016-09-20 01:21] #301 closed

[2016-09-20 01:43] Blaisorblade commented on #437
Thanks for the reminder, we should make this very clear on the changelog. The battery savings are big but yes, this is a problem.

However, we *could* think about checking the screen a while after start, if "Launch Pokemon Go" is enabled. I know how.

[2016-09-20 01:49] DJCrapsody commented on #448
SGTM

[2016-09-20 05:26] Eremiell commented on #449
Well, it shows the work on the next release as it gets added. I consider it interesting piece of info, both for us (after certain amount of commits, it might be good idea to start thinking about release even if we're not feature complete due to original plan) and for users (the project's alive, evolving, progressing every day).

[2016-09-20 05:47] sarav commented on #437
See comments in the PR. I'm actually kinda open to marking this as "won't fix". IV button not showing up in some pokemon screen is going to happen once in a while and we just have to educate the users.

For example, it won't show up for a post egg hatching or a post evolve Pokemon screen either. I just do the scroll up gesture again and the button comes back and I move on.

[2016-09-20 06:38] DJCrapsody commented on #449
@Blaisorblade @nahojjjen @sarav thoughts on commits badge?

[2016-09-20 11:20] Blaisorblade opened #452 "Document EVERYWHERE the need for extra taps"
Document in
- Changelog
- FAQ
- anywhere appropriate

that
"If the IV button doesn't show up in a Pokemon screen, try to tap the screen once to see if it shows up".

Thanks to @sarav for reminding me in #451.

[2016-09-20 11:35] DJCrapsody commented on #452
how about... Just a toast when user clicks on start?

[2016-09-20 11:36] Blaisorblade commented on #437
Granted we should document this, we could either still merge the PR, or avoid merging so this behavior can trigger more often. What do you think @rpgrca @DJCrapsody ?

[2016-09-20 11:40] DJCrapsody commented on #437
From the user's standpoint, it comes back to "it should work why doesn't it?"
So I suggest educating the users in a way, through toast (as suggested in the other issue) and if required, in FAQ.

The "hacky fix" should not be used, I've actually had lesser black screens after the change.

[2016-09-20 11:41] Blaisorblade commented on #437
"lesser black screens"? You mean more ones?

[2016-09-20 11:42] DJCrapsody commented on #437
Ugh Gitskario comment editing is unreliable, always doesn't go through. I edited my comment.

[2016-09-20 11:47] Blaisorblade commented on #437
I still don't follow at all. The "hacky fix" is not to fix black screens but this issue (and my worry there might have been a red herring). Does that fix *cause* any problem?

[2016-09-20 11:47] DJCrapsody commented on #437
Scanning when the game is resuming is possibly the issue for black screen. on touch scan does not trigger scanning when resuming the game, therefore actually getting lesser black screens.

[2016-09-20 11:51] Blaisorblade commented on #435
We always loop over the 4096 possibilities (and we could optimize that apparently), that's currently constant time (and much faster than the reading a screenshot or OCRing it). But of course that might still be too slow.

[2016-09-20 14:25] DJCrapsody commented on #347
Updated list.

[2016-09-20 15:19] cdsimpkins commented on #149
sorry, got buried in the other projects i'm following.  I'll check it out this afternoon and report back, thanks!

[2016-09-20 16:14] sarav commented on #452
Toasts disappear too soon IMHO when trying to read for the first time. And they feel like their linger on for too long once you know the text.

We could add it to the instructions in the Main UI.

[2016-09-20 16:18] sarav commented on #452
Note: Tap the screen once if the IV button does or doesn't show up when you expect it to.

Something like that. Toast is okay too if others prefer that. No strong opinion.

[2016-09-20 16:51] sarav commented on #452
P.S: I didn't want to nitpick on the changelog, but if we are going to educate the users, might as well be accurate.

I changed that para in the changelog (spelling mistakes and some clarification).

The screen scanning logic will now only activate after you touch the screen. So instead of scanning every 750 milliseconds, it will only scan a couple of times with a short delay when you touch the sc

[2016-09-20 17:00] rpgrca commented on #437
When we (company) release a new version of the software we make a list of known bugs for which workarounds exist. This one would qualify as one, and so if there's enough documentation available it should work.

I still get black screens maybe 30% of the times I launch GoIV, but already got used to that.

[2016-09-20 17:01] cdsimpkins commented on #149
Latest build from master seems to work as designed.  tested with a few different pokemon.  Thanks!

[2016-09-20 17:08] rpgrca opened #455 "Scanning incorrectly detects pokemon level at level 30"
Sorry about the big screenshots, I don't have editing software here. First time it happens in a while, a L30 pidgey, GoIV detects it as a 30.5 one, so the calculation fails:

![2016-09-20 02 06 12](https://cloud.githubusercontent.com/assets/15602473/18680637/05b6eb38-7f3b-11e6-88d5-f25bc45af9fe.png)

When I drop half a level, it works. This is where it should have been:

![2016-09-20 17 05 42](htt

[2016-09-20 17:16] oskomonzon commented on #455
@rpgrca, is your trainer level set correctly?

[2016-09-20 17:25] Blaisorblade commented on #452
To some extent, allowing that is why I'm updating `CHANGELOG.md` before the release.

[2016-09-20 17:36] Blaisorblade commented on #437
We're discussing documentation in #452—https://github.com/farkam135/GoIV/blob/master/CHANGELOG.md#features

FWIW right now this is a feature, not a bug; I'm also uneasy but it seems worth it, once you know.

[2016-09-20 17:43] Blaisorblade commented on #455
Also reported on Reddit with similar screenshots https://www.reddit.com/r/GoIV/comments/53cduw/buggs7_edge_level_30_pokemon_get_detected_as_305/d7u2ms7

The old issues are fixed I think—the level is mapped correctly to an angle. But at that level, the difference between levels is smaller than the size of the dot. We just sample one pixel in the circle, checking if it's white, and I suspect **both

[2016-09-20 20:42] schachmat commented on #402
Maybe the correct size and positioning can be derived from the hamburger menu icon in the screenshot.

[2016-09-20 20:49] thearaks commented on #447
Please check #456 for Italian ;)

[2016-09-21 01:21] voltaek commented on #432
Alternatively, is there not a way to move the word "Appraisal" to be on the same line as the three checkboxes, eliminating the need to ever have the section hidden? We could abbreviate "Attack" and "Defense" if needed to in order to accomplish this. You could also stack "Appraisal" on top of "Refining"  to do so if you really need to keep "Refining" there.

Personally, I use the appraisal feature

[2016-09-21 03:51] sarav commented on #447
Really, no german players? :-/

[2016-09-21 04:04] sarav commented on #435
When I first started trying to dev for GoIV, the loop optimization was one thing I wanted to do. Even with no appraisal, we could optimize the loops by removing some ranges. But I hadn't figured out the math yet (was too busy). But then someone else posted an issue with an example python code too.

But this suggestion is even better optimization. We can also do things like -- if Atk is the best IV

[2016-09-21 04:14] sarav commented on #252
@nahojjjen actually convinced me on the %perfect-pokemon and the general score (He gave it a better name in the newer screenshots in Discord). But the general score still treats total atk, def and sta stats equally.

I'm not sure if treating atk, def, sta equally is right or not. I used to think sta should be less important because of it not playing a big role in the damage output. But then it pla

[2016-09-21 04:22] DJCrapsody commented on #447
Who did the German translation anyway?

[2016-09-21 04:24] DJCrapsody commented on #252
Atk > Def = HP

[2016-09-21 04:27] DJCrapsody commented on #432
I don't think you're on the latest commit. Build from source and you'll see there's no possible changes other than allowing users to have an option to keep it opened.

[2016-09-21 04:50] Eremiell commented on #447
git blame it? :P seems like @chuparCh0pper and @Dreckiger-Dan have some share there with me adding the file closing tag for some reason :)

[2016-09-21 05:33] Eremiell commented on #455
so maybe we could sample multiple pixels? like one we expect to be upper left one one we expect to be lower down or something?

[2016-09-21 05:44] Eremiell commented on #380
Seems like currently only offline version would classify for F-Droid, as they don't allow auto-updates. Maybe we can get an F-Droid version with crashlytics (unless those break one of the rules as well and I missed it) but with aim to be updated through F-Droid (so no auto-update)?

[F-Droid base-line rules](https://f-droid.org/wiki/page/Inclusion_Policy)

[2016-09-21 06:07] DJCrapsody commented on #380
we can have 3apks
Online (updater and crashlytics)
Offline (no internet)
F-Droid (crashlytics only)

[2016-09-21 06:52] chuparCh0pper commented on #447
@sarav germans are everywhere...
i'll give it a try

[2016-09-21 09:18] marsjaninzmarsa commented on #380
GoIV online doesn't have auto updates, it have only prompt "new version is available, you can download it and install manually from this link", I think that this is totally acceptable.

[2016-09-21 09:43] Blaisorblade commented on #447
@chuparCh0pper Thanks a lot, I saw your name in git blame but I thought you had moved along to other enterprises, should have tagged you anyway 😅 . And merged!

[2016-09-21 12:14] Blaisorblade commented on #440
FWIW: there is at least *one* UI-sensitive computation, the IV computation. I'm not sure a loop over 4096 possibilities is that expensive, but any warning there might be worth checking. (Not that GoIV actually freezes much, so maybe that's also irrelevant).

[2016-09-21 13:52] nahojjjen commented on #252
After using my branch for a while where Ive tested different versions of displaying "dynamic battle score", "combat score" and "battle rating", Ive noticed the following:

Battle score is not easy to remember, and minor differences between species are often not important as they're overshadowed by other factors, so adding a tier-system feels easier to comprehend than a battle score. (S,A,B,C,D,E)

[2016-09-21 14:10] DJCrapsody commented on #252
Sounds interesting, Would love to see that in action and I agree it's easier to understand by tier than raw numbers.

[2016-09-21 16:51] Blaisorblade commented on #380
Not quite, we have a prompt and if you confirm we do the entire download and install. Would that be OK? @marsjaninzmarsa do you have a pointer to the F-Droid rules?

We could have the no-uploader variant if needed, it's just a slight nuisance.

[2016-09-21 16:59] Blaisorblade commented on #432
@voltaek Specifically, we added options to put in the other two sentences. And now we move the dialog up when you open appraisals, so you can appraise with the dialog open, but we cover the actual data from the Pokemon image. So maybe we should actually show the images (per #372), though that's tricky to get right.

[2016-09-21 18:46] Blaisorblade opened #460 "Design about a plugin system"
Lots of features have been requested that don't "belong with" GoIV but would make sense to have together. We could think about some way to enable optional features so they don't impact people not using them. This was last brought up for #457, but I think the gym helper could be a better application.

We could support plugins by sending intents, but we'd have to scan more info anyway and starting a

[2016-09-21 20:08] Blaisorblade commented on #437
Closing in favor of #452.

[2016-09-21 20:08] #437 closed

[2016-09-21 20:12] Blaisorblade commented on #452
We ended up not changing any code but just docs, also because the translations are frozen. Let's hope that's enough. Closing.

[2016-09-21 20:12] #452 closed

[2016-09-21 21:53] sadyc1 commented on #252
1. What's the use of "pokemon tier" or score? We already have CP as a general score across all species, and is actually some sort of att * def * sta... why invent a different formula to create some artificial tier?
CP or any other cross-species score based on stats alone is misleading because move types and pokemon types (water, fire, etc) are more important than CP when you pick a fight.

2. "Int

[2016-09-21 22:01] nahojjjen commented on #460
Are there enough plugin ideas / interest in plugins for a design specific for plugins?

[2016-09-21 22:22] nahojjjen commented on #252
@sadyc1 CP is dependent on level, which tier wouldnt be. Consider the scenario with a 600 cp butterfree and a 400 cp lapras. The lapras would have a higher tier. Imagine it another way, the tier basically says how much the max CP of a pokemon is. A mewtwo has high max cp, so it'd get a high tier, while a caterpie has an abyssal max CP, so it gets a bad tier. What the tier label does is that it int

[2016-09-21 23:20] Blaisorblade commented on #460
That's a good question. Ideas mentioned included, beyond #457, also the gym helper and movesets. But I agree we might want to collect more.

There was also a thread on Reddit, with tons more ideas:
https://www.reddit.com/r/GoIV/comments/510bug/looking_for_community_thoughts_on_an_app_based_on/
I confess I haven't looked closely at the prototype (https://github.com/GoOverlay/GoOverlay), pinging @wa

[2016-09-21 23:31] marsjaninzmarsa commented on #380
If you have a prompt, it should be OK, I believe.

[2016-09-21 23:32] Blaisorblade commented on #447
Closing as now 3.2 is tagged.

[2016-09-21 23:32] #447 closed

[2016-09-22 02:16] rpgrca commented on #455
I'm guessing this could happen with anyone who catches a pokemon that is at his level (like a L28 catching a L28 pokemon). Would it be advisable to show somehow that the level might have been incorrectly set? If you start with the appraisal expanded, the box would cover the dot almost immediately, giving you no time to notice the mistake.

The main problem would be if it could be calculated with t

[2016-09-22 03:44] sarav commented on #460
I think having the "plugin" code as part of GoIV defeats the advantages and purposes of a plugin. It's not just about bloat or memory. Allow plugins also opens up people to develop features without have to actually coordinate with us. Think Tasker and Tasker Plugins.

We should be able to figure out a way to allow some plugin to add UI components without having to share the code base.

[2016-09-22 03:58] sarav commented on #252
I like the idea of the general score, but honestly, I'd rather see the number than some tier. The reason for justifying a tier also kinda justifies NOT needing a general score. Things like movesets make a bigger difference. But we all still like the idea general score so we can compare pokemon of different species -- so making it a tier without showing the actual number kinda defeats the purpose I

[2016-09-22 07:01] nahojjjen commented on #252
@sarav with my current implementation, Charizard would be roughly C+ and Arcanine is roughly B. High/low IVs bump pokemon up / down a notch.

There are so many tiers, so pokemon who are in the same tier... Deserve to be in the same tier in my testing. The current tiers Ive got is:
A+ A A- B+ B B- C+ C C- D+ D D- E+ E E- F+ F F-

Thats 18 different tiers, but they're all easy to comprehend.

I do h

[2016-09-22 07:40] DJCrapsody commented on #380
[15:30] <DJCrapsody> update the app, does it violate the inclusion policy?

[15:32] <krt> not really, but i'd rather have the app build reproducible then. so we could re-use upstream signature,  because users wont be able to upgrade otherwise

[2016-09-22 07:49] Blaisorblade commented on #380
@DJCrapsody please provide more context?

[2016-09-22 08:11] Blaisorblade commented on #380
I've looked at https://f-droid.org/wiki/page/Inclusion_How-To#Source_Code, it seems they'd usually build it themselves so the auto-update would fail.

Anyway, this feature is tagged as "help wanted". To see progress, please actually submit the app. The offline version should be submittable as-is.

Here's how to actually get started:
https://f-droid.org/forums/topic/read-this-before-posting/

and b

[2016-09-22 08:36] sarav commented on #252
I'm going to always look the "battle score" though. Maybe I'd be convinced that tiers are sufficient once I start using it? Actually, what is the range for these tiers? Just publishing them might just make it easier for us to decide if the tier is sufficient? Also, why not just make it a setting -- Something like "Represent battle score as tiers" that can be default on or off based on the consensu

[2016-09-22 15:42] NightMadness opened #463 "Crash when scanning screenshot from another Android/iPhone phone"
Hi Team,
A friend of mind send me a screenshot from an Iphone to check IV, I open the text message, clicked on share then GoIV, GoIV crashed.
Took same screenshot, took a screenshot of the screenshot using google now, sent to GoIV, calculated successfully.

Could this be bug #420 ?

I have a galaxy S7 edge, stock, not rooted.

Example screenshot that fails
![img951676](https://cloud.githubusercont

[2016-09-22 16:47] DJCrapsody commented on #463
AFAIK, screenshots that did not come from your device or random pictures of food will crash GoIV on the current release. (IIRC it was fixed in one of the recent commits, I can't remember). You can try building from the source and see if it works (aka GoIV ignores screenshot).

You have to enable Battery Saver mode and start GoIV Pokefly service in order to use the share. We will probably be implem

[2016-09-22 16:52] NightMadness commented on #463
Yep, source i tested is only a week old, will take latest and see if it still happens. Whats wierd is i can take screenshot of the screenshot to make it work. Maybe issue with issue boundaries?

I think we should allow scanning from share even if goiv is not "started" or in power save mode.

[2016-09-22 16:54] DJCrapsody commented on #463
ocr is only initialized when pokefly is started. I'll pull that to another issue.

[2016-09-22 16:58] DJCrapsody opened #464 "Share Intent does nothing when PokeFly is stopped"
Suggestion
1. Inform user that pokefly needs to be started.
2. Fire an intentservice when using share intent?

Pulled from #463.

[2016-09-22 17:24] waterfoul commented on #460
Hey sadly life happened so I haven't had time to track back to the GoOverlay project. Basically the idea was to move all of the screen scraping bits to a single apps and move all of the logic bits (like calculating arc positions and IVs) to a secondary app.

The big disadvantage is that people have to install multiple apps just to make anything work (think tasker or xposed). To combat this I was p

[2016-09-22 17:51] sarav commented on #460
@waterfoul I did some major battery improvements. So, if you eventually do continue the work, remember to pull it in.

[2016-09-22 20:08] rpgrca commented on #252
[Here](https://pokemongo.gamepress.gg/gym-defenders-tier-list) they use 6 tiers, they used to have only 4. With 18 tiers, I think the difference between tiers might not be as noticeable. I'd think, SS, S, A - F are far enough (maybe even too much).

[2016-09-22 20:20] z-m-k commented on #435
#93

[2016-09-22 22:40] Blaisorblade commented on #463
@NightMadness In general you might want to use master, we devs all run with that. (Yes it might have regressions but we try to keep `master` always working well, so let us know if something breaks there).

This is a bug fixed in ac3267978b9665a2ce39a528b0b1002c12b061de and will be in 3.2: sharing any screenshot through share (as opposed to Google Now) will crash GoIV. I'm sorry the original descri

[2016-09-22 22:42] Blaisorblade commented on #463
Closing for now, but please let us know/reopen if my analysis is wrong.

[2016-09-22 22:43] Blaisorblade commented on #463
BTW, thanks for the report anyway, don't take "closing" as a rejection.

[2016-09-23 00:03] sarav commented on #435
I just read the actual point of this issue and it's a good suggestion. I sometimes check the IV result without appraisal and it's already found the exact combination or at least all of them were the same IV%. It sure would be nice to avoid unnecessary appraisals.

[2016-09-23 00:06] sarav commented on #252
This whole tiering is not a standard definition. The user might not like the tiering ranges that @nahojjjen picked or @rpgrca picked. It's a subjective opinion. So, I think we should avoid tiering or at least not make it default.

[2016-09-23 00:43] Blaisorblade opened #466 "Screen blacks out when starting on Nexus 5X / Android 7"
To reproduce, on my Nexus 5X with Android 7, not my Nexus 5 (EDITED):
1. Open PoGo
2. Go to home screen (tested without closing PoGo)
3. Open the GoIV app
4. Disable the "Start Pogo" setting
5. (Ensure GoIV is not in battery saver mode)
6. Start GoIV
7. Observe the screen (not always, sometimes) go black (in full or part)
8. If it does not restore on its own, tap the screen, and see GoIV back ther

[2016-09-23 01:25] rpgrca commented on #252
Of course, in fact down here SS and S aren't considered rankings at all, and qualifications in letter were used back when I was teen (20 years ago).

Most of the time I just want to know which pokemon I can use to beat a defender. Or, if I'm training, which pokemon would maximize my experience and prestige gaining. IV are useful to discard pokemon, or to know which one to power up (of course, if i

[2016-09-23 01:40] DJCrapsody commented on #466
We had this issue (I did mention this recently) for a long time, since the start. @nahojjjen mentioned that it was due to PoGo being developed on Unity engine.

[2016-09-23 01:43] DJCrapsody commented on #466
Most of them are reported on reddit but you can see one reported at #424.

[2016-09-23 02:58] NightMadness commented on #463
Hi @Blaisorblade,
The error I am getting is `java.lang.IllegalArgumentException: x must be < bitmap.width()`

[code]

[2016-09-23 03:57] NightMadness commented on #463
I rebuild using Master, I was able to replicate the issue,

can this issue be re-opened?

[2016-09-23 04:43] DJCrapsody commented on #463
Are you building your master branch or the main master branch? You have 10 commits ahead, stash the changes and try again?

[2016-09-23 04:48] NightMadness commented on #463
Main branch. I created new folder, new project directly from goiv git and recompiled apk.

I Checked the line number above, it should match to master.

[2016-09-23 09:07] nahojjjen commented on #466
Ive stated that it seems plausible that it's because of unity or how gpu operations are handled, since when I searched for phrases similar to our problem i encountered other programmers reporting similar issues with their unity games.

[2016-09-23 09:15] Blaisorblade commented on #466
I've edited the description, the symptoms here look different. This looks more like "starting screen capture after starting a 3D-using app", and seems an issue with the specific drivers.

Anyway, closing as invalid for now.

[2016-09-23 09:15] #466 closed

[2016-09-23 09:18] Blaisorblade commented on #463
I assumed you could reopen it too. The next step will be to get a stacktrace.
Can you replicate the issue only with a screen from a different phone? Have you tried one from your phone?

[2016-09-23 09:37] Blaisorblade commented on #252
My 2 cents were about not introducing a formula/system/ranking on our own. @Eremiell has been doing tons of research for his manager. If we added plugins, the different ideas for this would be an excellent use case.

[2016-09-23 10:25] Blaisorblade opened #467 "Disable level selector after start"
A friend just raised their level after GoIV was started—and of course the level wasn't really updated.

He suggested disabling the level changer at that point as an alternative to updating the level for real. I'd propose to do this fix quickly, before we try the more complicated "reflect new trainer level throughout the code" (that's also possible but trickier and more bug-prone).

[2016-09-23 11:49] NightMadness commented on #463
Was not able to reopen, thanks @Blaisorblade for reopening. I pasted the stacktrace above. Also I posted the bad iphone image above, you might be able to replicate the bug.

My own screenshot works, Only failed with iphone screen shot. I tried three difftent screen shot from an iphone, all failed. I think its a max width, max height issue not matching to iphone spec. I suspect the reason screensho

[2016-09-23 12:12] NightMadness commented on #467
Options
1. Disable scroll selector when GoIV "Start" button is pressed
2. Stop and start on trainer level change completed.
3. Recalculate only whats needed on trainer level change completed, (not restart entire GoIV).

I think we should go with option 2 stop/start on level change and see if it works properly if slider doesnt have a good on "complete event" we can go with option 1 or be fancy and

[2016-09-23 14:22] Blaisorblade commented on #463
Thanks, that confirms your diagnosis—this overlaps with #420 (we don't know what happened with those users).

It's based on the phone—taking it from the snapshot is not easy though: we ask the phone for the size of the bars above/below, how do we get that info from a snapshot? I'm not even sure what should the size above be—maybe 0 because PoGo draws under the iOS notification bar?

[2016-09-23 14:26] Blaisorblade commented on #467
I'm specifically proposing option 1 as a quickfix. Restarting GoIV is IMHO too visibly slow for option 2 to feel good to use (even on my Nexus 5X, and there are slower phones).

We can skip 1 if somebody manages to implement option 3 correctly before we do 3, but it's not trivial.

I'd tend to agree but the scroll selector seems easy to increment/decrement. (I'd love a +1 button in the notificatio

[2016-09-24 00:49] sarav opened #471 "Input box moves way too high when appraisal is opened"
In some devices (my tablet), the input box moves way too high that the top is kinda going into the notification area. So, clicking the pokemon name to correct the detection is kinda impossible/hard.

Also, even without that issue, I think it would be better to have the bottom of the input box lined up with the 25% point (wild guess, but we should be able to find this from screenshots) of the scree

[2016-09-24 00:51] sarav commented on #467
I'm okay with 1 as as quick fix. Makes sense. A toast to explain might be better. But I think 2 is also a good quick fix. By disabling trainer level change, you are effectively having the user stop, change level and then start the service again. So, might as well just do it for them till we can figure out a way to just recalculate stuff.

[2016-09-24 00:53] sarav commented on #467
I actually never liked the scroll selector. I'd rather just have an input box with +/- like we had before. Or a scroll bar like we had for the level selector in the results window. As for notification @thearaks made a good point that we shouldn't clutter the notif with stuff that won't be used often (I don't have a strong opinion on this).

[2016-09-24 01:31] sarav commented on #471
UI guys: @nahojjjen @oskomonzon @DJCrapsody

[2016-09-24 03:47] rpgrca commented on #358
Another for the backlog: Pidgey, CP300. This one is tricky, if the brightness is high, it gets correctly detected, but if it is not as bright, it gets detected as CPS00.

![screenshot from 2016-09-24 00-42-05](https://cloud.githubusercontent.com/assets/15602473/18805878/eca2d820-81ef-11e6-8430-d391243bfbb0.png)

[2016-09-24 09:12] DJCrapsody opened #472 "Updater crashes on Android 7.0 or N preview (?)"
This was reported on fabric. 268 crashes.

EDIT: This could be the issue https://developer.android.com/training/articles/scoped-directory-access.html

[2016-09-24 09:17] thearaks commented on #472
Related to "Scoped Directory Access" feature of Nougat:
https://developer.android.com/training/articles/scoped-directory-access.html

[2016-09-24 09:39] Blaisorblade commented on #467
It's not the same, unless you only do the restart when they're actually done selecting the level. It takes 2 seconds for a wheel to be done scrolling?

I see there are downsides the other way.

We didn't have +/- there IIRC—we requested that and that's what @oskomonzon did. I also preferred normal +/-, not sure why he had this preference.

[2016-09-24 10:00] DJCrapsody commented on #467
The current number scroll selector is actually Android default number picker (as of ICS, iirc). Maybe we can change to a simple one with +/-.

[2016-09-24 10:22] Blaisorblade commented on #358
As long as S always means 3 we can add a fix, but does it? Another PR adds a replacement mapping S to 5, which frankly looks much more plausible.

https://github.com/farkam135/GoIV/pull/431/files#diff-a486e6cbd07638779e0b6f9af368f3b7R244

BTW, with brightness you talk about the background from the pokemon right? I assume the screen brightness setting does not influence the actual pixels we read.

[2016-09-24 10:45] Blaisorblade commented on #402
Doing that at runtime would be pretty expensive I imagine... or at least, I'm not sure how to do it quickly.

[2016-09-24 11:39] 4parthy opened #475 "Appraisal Refining in screenshot mode crash on Android 4.4"
Clicking "Appraisal Refining" instantly crashes GoIV 3.2 showing the "Unfortunately GoIV has stopped." dialog.
This happens on my tablet (cm11/android 4.4) but not on my phone (android 6).

[2016-09-24 11:51] DJCrapsody commented on #475
Are you on the Online version? If you are I could check out the stack trace.
On what device?

[2016-09-24 11:56] 4parthy commented on #475
Yes the online version. The device is a kindle fire hdx 7

[2016-09-24 12:12] 4parthy opened #476 "Checksums for 3.2 release"
They are not in in the readme yet. But maybe you want to add them to the [release info](https://github.com/farkam135/GoIV/releases/tag/3.2.0) as well. I think that would be very convenient.

[2016-09-24 13:29] DJCrapsody commented on #475
Got the stack trace and seems like it's related to KitKat. We'll look into it.

[2016-09-24 13:32] 4parthy commented on #475
Thanks for the quick reply. Keep up the good work.

[2016-09-24 13:35] DJCrapsody opened #477 "Unknown crash due to view being null"
Not sure what is causing the crash. Could not reproduce, but seems like many are facing this.

[2016-09-24 15:53] rpgrca commented on #358
Yes, the bloom effect that in pidgey is quite noticeable. I'd have thought the OCR would fail when bloom was at its maximum (and the numbers are barely noticeable), but it actually fails when it's at its lowest.

[2016-09-24 16:57] Wddysr opened #479 "[Appraisal][French translation]"
Stats' messages has been inverted in French language between "Ses stats sont excellentes ! C'est super !" (it should describe 65-80%) and "Je suis estomaquée par ses stats. Bravo !" (wich should represent 81-100%).

This result as wrong possibilities or even the message saying to check the stat when the player doesn't know that the statements are missplaced.

[2016-09-24 17:03] DJCrapsody commented on #479
This is fixed in one of the PR.

[2016-09-24 17:19] Wddysr commented on #479
I didn't saw it, sorry about that. I Will close the issue.

[2016-09-24 17:19] #479 closed

[2016-09-24 18:29] nahojjjen commented on #467
Is this issue a newer version of #241 ?

[2016-09-24 18:30] nahojjjen commented on #423
Hp adressed in #469

[2016-09-24 19:41] sarav commented on #358
5 in HP gets recognized as an S. There are reports of it in reddit too. So, if we add anything, it should S -> 5.

[2016-09-24 19:44] sarav commented on #467
@nahojjjen, It's evolving (or devolving?) into that one.

@Blaisorblade -- Yes, I meant once the user is done selecting it. We can always do the poor mans job of doing this start stop a few seconds after they are done changing it? So, if they continue scrolling, we won't take 2 seconds for each increment. We'll have to figure out the delay or something like that even if we implement (3) I think.

[2016-09-25 05:32] Jesica88 commented on #347
My lgg5 also doesnt show iv button 😥

[2016-09-25 09:07] sarav commented on #477
Seems to be due to something in the unwatchScreen().
If we can reproduce this issue, try adding these line (they look like pointless lines from an example code I saw, so I dropped, but maybe it matters) right after touchView is created:

LayoutParams dummy)arams = new LayoutParams(1, LayoutParams.MATCH_PARENT);
touchView.setLayoutParams(dummyParams);

[2016-09-25 09:08] sarav commented on #475
@DJCrapsody -- wanna post the stack trace here so that I can take a look if I have time?

[2016-09-25 09:10] sarav commented on #464
(2) IntentService is a completely unrelated thing to this. We should not use that in GoIV with the current requirements.

The main reason is due to the lack of trainerLevel, etc when the service isn't running. Or when even the activity hasn't been started. Keep in mind that the Share option will also show up. So, (1) is the reslly only option. We should do it as a toast.

[2016-09-25 10:18] DJCrapsody commented on #464
(1) isn't exactly the only solution... Another solution is something we have been talking about, an always on IV button. But we'll lose the share intent (which we all know have this bad behaviour), which also loses share via Now on Tap functionality.

[2016-09-25 10:58] Blaisorblade commented on #475
@thearaks diagnosed this...

[2016-09-25 12:30] DJCrapsody commented on #477
None of my devices are facing issues (and that makes it hard for troubleshooting) :(

[2016-09-25 12:36] DJCrapsody commented on #475
We'll need to get 3.2.1 out asap with this.

[2016-09-25 14:28] Blaisorblade commented on #475
We know what causes the problem, but I'm not sure we have an easy fix. @thearaks worked it around by disabling some style setting, but I'd expect that to have some downsides.

[2016-09-25 14:48] Blaisorblade commented on #476
Thanks for reminding us. Overlaps with #449.

[2016-09-25 15:21] Blaisorblade commented on #477
That crash is due to `touchView` being `null` unexpectedly, so @sarav's lines shouldn't be relevant.

Anyway, this can be triggered because START_STICKY's fault. If the service is killed and restarted, `onStartService` is called with a null Intent and does nothing, and `onDestroy` will find `touchView` being `null` unexpectedly.
http://stackoverflow.com/a/3963376/53974

@DJCrapsody can you link to

[2016-09-25 15:25] DJCrapsody commented on #477
@Blaisorblade no one reported the crash, this was pulled from fabric

[2016-09-25 15:25] Blaisorblade commented on #477
In this case, one source of the report is http://crashes.to/s/021ee0fb2a9. No user reports, but at least there are statistics (happens across OSs).

[2016-09-25 15:41] Blaisorblade commented on #449
Added checksums to 3.1.0 release notes:
https://github.com/farkam135/GoIV/releases/tag/3.1.0

[2016-09-25 15:44] Blaisorblade commented on #449
And to 3.2.0:
https://github.com/farkam135/GoIV/releases/tag/3.2.0

Note the formatting isn't great. Doing better needs Markdown.

Now I could merge https://github.com/farkam135/GoIV/pull/474/commits/8c66462a380d372a3d8bf2903da6c6d2c5bb47aa at least.

[2016-09-25 15:50] Blaisorblade commented on #476
Done. And now the checksums are only in the release info.

[2016-09-25 15:50] #476 closed

[2016-09-25 15:52] Blaisorblade commented on #472
Worse: the current crashes are in 3.1.0 updating to 3.2.0, so any fix will only work for next release upgrading to the release after that 😢

[2016-09-25 17:22] thearaks commented on #475
In `app/src/main/res/layout/goiv_spinner_item.xml`:
This attribute causes the crash:
`style="@style/dialogTheme.SpinnerDropDownItem"`

`dialogTheme.SpinnerDropDownItem` inherits from `dialogTheme`
`dialogTheme` inherits from `Theme.AppCompat.Light`

Probably, since Pokefly Service can't use AppCompat LayoutInflater, the inflation on KitKat with the default platform LayoutInflater crashes on some n

[2016-09-25 17:27] nahojjjen commented on #423
I'm not sure what you mean with "show the damage"

[2016-09-25 17:31] nahojjjen commented on #372
Can we close this issue as wontfix?

[2016-09-25 17:37] nahojjjen commented on #252
This issue thread has become very long and difficult to keep track of.

One of the things I interpreted from the original issue as stated in this post is that it's currently difficult to see how much an iv actually matters, if the pokemon has a low / high base already in the IV.

For me this issue is solved in my clipboard branch, as I display CP % compared to perfect iv in my clipboard, which in

[2016-09-25 17:38] nahojjjen commented on #241
Im closing this as a duplicate / subset of #467 , sorry if I misunderstood.

[2016-09-25 17:38] #241 closed

[2016-09-25 18:05] nahojjjen commented on #471
Im not sure I understand the issue, could you post a screenshot?

[2016-09-25 19:59] #432 closed

[2016-09-25 20:18] Blaisorblade commented on #423
In #252 we discusses a formula for the damage done in gym battles—there's a component depending only on IVs that uses them differently (https://github.com/farkam135/GoIV/issues/252#issuecomment-247769516). But I'm happy to ignore that.

[2016-09-25 20:18] #423 closed

[2016-09-25 20:29] Blaisorblade commented on #372
I'll go with yes. Doing this in a decent-looking way on different devices is rather hard. It's much simpler to leave the underlying values visible. We fixed #237 and now the appraisal box is closed again by default, and that was much easier.

[2016-09-25 20:29] #372 closed

[2016-09-26 14:29] Eremiell commented on #347
Just realized I didn't write it down in here and just mentioned it on Discord. Cleaned both GoIV and PoGo data to no avail, tried to share a screenshot with GoIV and that didn't work either.

[2016-09-26 21:37] #450 closed

[2016-09-26 21:40] sadyc1 commented on #252
Back to what was initially proposed, simple: "Show percentage including base stats of pokemons" Or at least show the base stats.
Again the logic behind it is that not all stats are created equal and it depends on the species (another example: for snorlax, the stamina IV is less important than defense IV, because it already has a lot of base stamina). This is not for comparing between species.

[2016-09-26 22:12] sarav commented on #477
@Blaisorblade How do you know that the null was actually due to touchView being null and not, say, it's layout being null. I have no idea what removeView does internally.

But I agree that what you said is the most likely case. I'll look into it and try to fix it over this week. Do you have any pointers on how kill and restart is handled for a service? I'm surprised to hear that onCreate is not ca

[2016-09-26 22:28] sarav commented on #471
![screenshot_20160926-152458](https://cloud.githubusercontent.com/assets/247061/18854097/d8069f68-83fd-11e6-9a1b-ced20ba825a6.png)

[2016-09-26 22:28] DJCrapsody commented on #477
onCreate **should** be called if the service is killed and restarted.

http://stackoverflow.com/questions/10670839/if-android-restarts-a-service-is-oncreate-called-again

[2016-09-26 22:31] sarav commented on #471
@nahojjjen I couldn't reproduce the issue where the UI was overlapping with the notification area. But the 2nd point should be visible here. On a tablet, the UI moves way too far. It could be a lot further down (easy to reach) while still not blocking the appraisal UI.

[2016-09-26 22:35] nahojjjen commented on #471
I think adding logic to "how far up" the overlay should move could be complex, I think the current solution is to set a flag (top) to tell the overlay where it should move, we don't actually tell the overlay to move to a position in percent or pixels.

Unless there's a bug where you actually can't click the input like you suggested in the original post, I think we might want to avoid messing with

[2016-09-26 22:37] nahojjjen commented on #252
I could create a token for stat % ((basestat + iv) / (basestat+15)) for the user customizable clipboard setting, but I dont think this information is requested enough that we can justify putting it in the results view.

[2016-09-26 22:39] sarav commented on #252
@nahojjjen how about long pressing the %IV showing a toast of the %base of all the 3 IVs? Or your max CP% or whatever info will help me decide if I should keep a 15/10/5 or a 10/10/10 bellsprout.

[2016-09-26 23:00] sarav commented on #477
Then I'm not sure how onStartCommand could be called with a null intent. There'd be no way to get trainer data if that happens. And then onDestroy is getting called somehow? That seems like a questionable design -- especially considering that an Intent is fully self contained.

I'll look into this more.

[2016-09-26 23:59] Blaisorblade commented on #477
Because the message says "java.lang.IllegalArgumentException: view must not be null". I opened `android.view.WindowManagerGlobal` (from API version 24) and the message appears accurate.

Regarding the layout being null: `addView(view, params)` seems to set the `layoutParams` of `view` to `params`, at least in `ViewGroup.addView`, but that's much less conclusive.

The [docs for START_STICKY](https:

[2016-09-27 00:11] Blaisorblade commented on #477
Precisely, all sources of that exception have form:
[code]

[2016-09-27 01:27] rpgrca commented on #358
An Ivysaur CP800 is recognized as "CPSOO" (soo). My guess is that the leaves . I agree that S → 5, but it would be nice if GoIV remembered the correction so that the next time it shows the correction instead (which would work with the original "CP3 54", but would probably fail with CP800, CP500, CP300, etc). Can't always win.

[2016-09-27 01:44] sarav commented on #477
@Blaisorblade makes perfect sense. We should change it to START_REDELIVER_INTENT.

[2016-09-27 13:32] Blaisorblade commented on #358
Good point, we should generalize the caching code.

👍 , but I'll leave that to our GUI guys @oskomonzon @nahojjjen @DJCrapsody . You might want to file a new issue and tag them so it's not lost here.

[2016-09-28 22:50] Blaisorblade opened #492 "Black screen experiments"
Some place I can't find, @sarav suggested adding listeners to the screen reader API—`imageReader.setOnImageAvailableListener`. I did (testing on the Nexus 7), and learned a few things:
- currently, `OnImageAvailableListener.onImageAvailable` is invoked rarely—probably, as @sarav guessed, when ImageReader's buffer is full, no more images are posted till we fetch some; (guess in https://github.com/f

[2016-09-28 22:50] Blaisorblade commented on #407
Regarding the unexplained slowdown, I won't be surprised at driver bugs causing that after seeing the crashes in #492.

[2016-09-29 03:03] sarav commented on #492
I didn't understand your first bullet.

[2016-09-29 03:07] sarav commented on #492
2nd bullet -- that's how it's supposed to work. It should be around once every 16 or 32 ms, right? Also, I'd have expected it up work this way without the close() call. What does it even mean? I for got the type of the object returned.

[2016-09-29 07:22] sadyc1 commented on #252
I totally agree this is sort of an advanced feature and shouldn't be on the default screen. I like @sarav suggestion.

[2016-09-29 12:00] NightMadness commented on #402
Adding one more
![20160929_075941](https://cloud.githubusercontent.com/assets/22281828/18953112/c1134a58-861a-11e6-99ac-d87bd2c53164.png)

Samsung s7 edge

Full img
(https://cloud.githubusercontent.com/assets/22281828/18953121/c9ff0e04-861a-11e6-8543-5f5583e9d1b3.png)

[2016-09-29 12:02] DJCrapsody commented on #402
This has been taken care in a PR. Tested ok just needs fixing for 4.4.

[2016-09-29 21:29] Blaisorblade commented on #492
Edited first bullet.

Hm, should have looked at the logs more closely. But I could see moments where the screen was not changed and there was no notification, which is smart.

Our ImageReader preallocates buffers to store *two* images (as we ask), and each image we get holds onto one of those buffers till we `close` it. At least that's how I get it—part of it is in the docs, part is guesses at how

[2016-09-30 02:18] sarav commented on #492
I'm doing all of this on mobile. So, haven't looked at the debug code you put in. So, still a bit confused on what you mean in some of the descriptions. I'll look at it this weekend maybe.

[2016-09-30 02:26] NightMadness commented on #402
@DJCrapsody the vector graphics look awesome!
I downloaded latest from PR https://github.com/farkam135/GoIV/pull/490 as of 9/29/2016,
looks like the IV button is the right size, but not aligned.

![screenshot_20160929-220648b](https://cloud.githubusercontent.com/assets/22281828/18978465/73d88a38-8691-11e6-9fdd-4bacd9299dbd.png)

full image:
https://cloud.githubusercontent.com/assets/22281828/18978

[2016-09-30 03:02] NightMadness commented on #463
Hey Team,
Resize code fixes it, but hmm i'm not sure its the right solution and if it works for all scenarios.
what do you think?

Code for resize:
[code]

Pokefly.java
[code]

[2016-09-30 11:13] Blaisorblade commented on #402
Assuming you mean commit https://github.com/farkam135/GoIV/pull/490/commits/2e394efd5e9152e43694317fb912bcf680208fb7 (protip if you want: links to commits are safer IDs ;-) ).

[2016-09-30 11:15] Blaisorblade commented on #492
Oh I see, sorry—haven't tried to make my report self-contained. Do take your time.

[2016-09-30 12:02] Blaisorblade commented on #463
That part looks good, but should compare both height and width.

But there are still a couple of things that won't work so well I fear. Can you test how well the arc is aligned or if at least we recognize the level correctly (by comparing with Google Now)? A problem is that, without Google Now, we don't show the screenshot below the GUI, but at least we should detect the same level in both cases.

[2016-09-30 12:03] Blaisorblade commented on #463
Forgot to point out: you'll need to know the player level of course, but we should have some.

[2016-09-30 12:08] Blaisorblade commented on #402
Also, for the record: if #490 works, we should probably still merge it even if it doesn't give perfect alignment everywhere, as soon as it's better. Getting it perfectly right on all devices seems very hard.

[2016-10-01 00:59] NightMadness commented on #463
The red icon is off but calculation is right.
![screenshot_20160930-081053](https://cloud.githubusercontent.com/assets/22281828/19010589/b5e6bf16-8750-11e6-9e1e-421b46350ccc.png)

[2016-10-01 01:27] Eremiell opened #496 "New strings breaking naming pattern."
Some recently added [strings](https://github.com/farkam135/GoIV/blob/cc40daea1240ae259b2112b79575321177f24f2c/app/src/main/res/values/strings.xml#L137) names break the pattern used so far to be all lowercase.

Proposed solution is to refactor them into all lowercase.

[2016-10-01 02:10] Blaisorblade commented on #496
There's also `wrongPokemonNameInput`. But yeah, most names are in snake_case, not camelCase. @DJCrapsody do you also prefer snake_case for resource names? I forget what you used in your PR.

I can do the changes.

[2016-10-01 02:14] Blaisorblade commented on #463
Not to be picky, but it doesn't seem to work well... are you saying that on the iPhone screenshots the correct level is detected? That looks weird, but maybe it's just because `statusBarHeight` is wrong (the iPhone appears to have a smaller bar).

In contrast, in the screenshots from #347 we're clearly not detecting the right level. Is there a way in your screenshot viewer to "scroll" the screensh

[2016-10-01 02:24] Eremiell commented on #496
Missed that one back then. In the end, I mostly focus on string payload. ;)

[2016-10-01 02:27] DJCrapsody commented on #496
Resource ids should **ALWAYS**  be in snake_case but some how newer ids are camelCase. Thanks @Blaisorblade

[2016-10-01 02:28] DJCrapsody commented on #496
that include xml file names for resources too

[2016-10-01 02:57] NightMadness commented on #463
Yeah iphone IV stats works correctly when I selected the right trainer level.

Also these screenshots seem to be an extreme example of extra wide screen. @DJCrapsody do you know the trainer level for those screenshots.

[2016-10-01 03:02] DJCrapsody commented on #463
if they're my screenshots, it'll be level 23. any screenshots not provided by me, I wouldn't know.

[2016-10-01 03:03] NightMadness commented on #296
Had a thought:
Maybe as part of unit tests we could have some sample bitmaps scanned from diffrent android devices. if we have a set of screenshots tests we will be more confident in refactoring and new ocr features. This will cost us more repo space, we could probably compress the images.

[2016-10-01 03:13] NightMadness commented on #463
Thanks, just tested with trainer level 23, it does real the text correctly but not the ARC.

[2016-10-01 03:24] DJCrapsody commented on #463
Because the screenshot isn't provided by me. I don't rememver providing any screenshots here till date. Everything's on discord

[2016-10-01 06:28] NightMadness commented on #467
I think https://github.com/farkam135/GoIV/issues/241 need to be reopened, it's about reloading settings like "screenshots to calculate iv" setting or any other settings, this bug is about disabling selector.

I'm playing around with the setOnScrollListener looks like it will work but if you scroll all the way from 1 you will stop scrolling at some point for just a moment so a timer may be necessar

[2016-10-01 06:38] NightMadness opened #498 "keyboard wont exit when Checking IV (if not pressing done button)"
To replicate:
1. Click on Text like CP/HP/Candy.
2. Don't click on DONE button on the keyboard.
3. Click on "CHECK IV".
4. clicking on DONE on keyboard does not hide the keyboard
![screenshot_20160929-080158](https://cloud.githubusercontent.com/assets/22281828/19012311/5bb40d8a-877f-11e6-8d10-9d9c3b7f5056.png)

[2016-10-01 18:57] sarav commented on #467
@NightMadness

* Just call it enableTrainerLevelPicker(boolean enable) or toggleTrainerLevelPicker(). enableDisable... is way too wordy.
* You are enabling the picker anytime you update the button text. It should not be that way. You should only enable it only when it goes back to Start.

[2016-10-01 18:59] sarav commented on #467
Also, the timer and waiting for stop before starting (we absolutely have to) can all be handled by just doing a postMessage and postMessageDelayed. They all go through the same queue -- so they'll automatically be ordered and serialized.

[2016-10-02 11:31] Blaisorblade commented on #467
FWIW, if I finish and we merge https://github.com/farkam135/GoIV/tree/refactor-screen-info, which encapsulates the screen- and trainer-level specific info, propagating a new trainer level might get easier (not 100% trivial).

[2016-10-02 17:10] cubeyz commented on #471
Close the appraisal refining bit while you try fix the top parts.

[2016-10-02 19:14] Blaisorblade commented on #496
Reopened for `wrongPokemonNameInput`, fixing in a moment.

[2016-10-02 19:17] #496 closed

[2016-10-02 19:22] Blaisorblade commented on #498
IIRC the only one getting that magic up to now is @oskomonzon... maybe @thearaks has insight?

[2016-10-02 22:01] MrWhacco opened #500 "You HAVE to select team. 3 options only. Where is "No team""
When starting the app, GoIV Offline, latest version. You only have 3 options in the team's dropdown.
I however have not joined a team yet (lvl 20), i know this only affects the appraisal from the team leader. wich in turn makes it harder to calculate the exact IV for the Pokémon.

Anyway.. Please add the option to select "No team", And if selected the appraisal selection ingame is disabled.. I thi

[2016-10-02 22:12] Blaisorblade commented on #500
Oh I see, good point. But until next release, how bad is it to select the "wrong" team in the dropdown? The only downside is that you'll still be able to use appraisals and it won't make sense.

[2016-10-02 22:12] sarav commented on #471
Actually, can we make the window dragable vertically so that the user can adjust it for their screen and the app can remember it. How hard would that be?

[2016-10-02 22:17] Blaisorblade opened #501 "Support reordering tokens in "custom clipboard format""
In #480, it'd be cool to be able to reorder tokens somehow. Drag-and-drop is an obvious (but hard-to-implement) UI. I'm opening an issue to remember this, even if it's done after merging #480.

@nahojjjen proposed a simpler alternative:

That'd already be great IMHO, so unless we get better ideas or somebody volunteers drag-and-drop it's probably good.

[2016-10-02 22:19] Blaisorblade commented on #501
@oskomonzon @DJCrapsody @thearaks @sarav (and anybody with sth. to contribute) Any other idea on how to support reordering clipboard tokens?

[2016-10-02 23:40] Blaisorblade commented on #464
That could arguably be setup without starting a service (if we refactor things), see #499.